/* 이건 정말로 자주쓰는거를 한번 모아본 css파일 */

@import url('https://fonts.googleapis.com/css?family=Gothic+A1:700|Nanum+Gothic');

.head{
  /* border: solid; */
  background-color: #e9ecef;
  border-radius:.3rem;
}
#checkboxTestTbl tr.selected{background-color: #A9D0F5;}
select .selectCall{background-color: #A9D0F5;}

#modalTable tr.selected{background-color: #A9D0F5;}
select .selectCall{background-color: #A9D0F5;}

@media (max-width: 990px) {
      .mobile {
        display: none;
      }
}
.green{
  color: #04B486;
}

.pink{
  color: #F7819F;
}

.sky{
  color:#2E9AFE;
}

.grey{
  color: #848484;
}

.footer-above p{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 13px;
}

.inputWithIcon input[type=search]{
  padding-left: 40px;
}
.inputWithIcon {
  position: relative;
}
.inputWithIcon i{
  position: absolute;
  left: 4px;
  top: 4px;
  padding: 9px 8px;
  color: #aaa;
  transition: .3s;
}
.inputWithIcon input[type=search]:focus+i{
  color: dodgerBlue;
}
#customerList ul {
  background-color: #eee;
  cursor: pointer;
}
#customerList li {
  padding: 12px;
}

.modalAsk {
  color:#F7819F; /*글자 핑크색*/
  text-decoration: underline;
}

.modalDescription {
  color:#04B486; /*글자 녹색*/
  text-decoration: underline;
}

p .warningg {
  color: #FA5858; /*빨강색, 근데 왜 적용안되지? ㅜㅜ */
}


li.page-item.active {
  color: #ffffff;
  background-color: #007bff;
}

.fixedHeader {
  position: sticky;
  top:0;
}

/* html 색상 코드 : https://html-color-codes.info/Korean/ */
