@charset "utf-8";

/*///////////////////// header /////////////////////*/
#wrap{min-width:1200px;}
input[type="text"],
input[type="email"],
input[type="file"],
input[type="password"]{height:30px;}
/*PC*/

.header_wrap{background:#1d6b47; border-top:1px solid #365984; position:relative; margin-bottom:51px;}
.header_wrap:after{content:""; display:block; width:100%; height:51px; border-bottom:1px solid #ddd; box-sizing:border-box; background:#e5e5e5; z-index:5; left:0; bottom:-51px; position:absolute;}
.header_wrap .pc_header{position:relative; padding-right:40px; box-sizing:border-box; padding-left:351px;}
.header_wrap .pc_header h1{position:absolute; left:40px; top:22px;}
.header_right:after{clear:both; content:""; display:block;}
.header_right .header_tp{height:52px; padding:18px 0 19px; box-sizing:border-box; line-height:15px;}
.header_right .header_tp:after{clear:both; content:""; display:block;}
.header_right .header_tp .login_on{float:right;}
.header_right .header_tp .login_on:after{clear:both; content:""; display:block;}
.header_right .header_tp .login_on p.hi_text{float:left; font-size:12px; color:#fff; padding-right:10px; position:relative;}
.header_right .header_tp .login_on p.hi_text:after{position:absolute; right:0; top:3px; content:""; display:block; height:9px; width:1px; background:#cfe3ff;}
.header_right .header_tp .login_on a.logout_a{margin-left:9px; float:left; color:#fff; font-size:12px; font-weight:bold; padding-left:17px; background:url('/AdmMaster/img/main/logout_i.png') left center no-repeat;}

/*1뎁스*/
.header_right nav.header_nav{float:right;}
.header_right nav.header_nav ul.nav_ul{position:relative;}
.header_right nav.header_nav ul.nav_ul:after{clear:both; content:""; display:block;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp{width:121px; box-sizing:border-box; float:left; margin-right:16px;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp:last-child{margin-right:0;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp > a{height:37px; box-sizing:border-box; background:#27885e; border-top:1px solid #338861; position:relative; color:#fff; font-weight:bold; font-size:15px; display:block; text-align:center; padding-top:13px; box-sizing:border-box;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp > a:after{z-index:9; cursor:pointer; width:33px; height:37px; content:""; display:block; position:absolute; background:url('/AdmMaster/img/main/nav_off.png') left top no-repeat; top:-1px; right:-33px;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp:last-child > a:after{background:url('/AdmMaster/img/main/nav_off_last.png') left top no-repeat;}
/*엑티브*/
.header_right nav.header_nav ul.nav_ul li.nav_1dp.active{z-index:10;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp.active > a:after{background:url('/AdmMaster/img/main/nav_on.png') left top no-repeat;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp.active > a{z-index:11; background:#e5e5e5; border-color:#fff; color:#333;}
/*2뎁스*/
.header_right nav.header_nav ul.nav_ul li.nav_1dp ul.nav_ul2{display:none; position:absolute; left:0; right:0; top:37px; z-index:10; padding-left:34px; box-sizing:border-box;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp.active ul.nav_ul2{display:block;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp ul.nav_ul2:after{clear:both; content:""; display:block;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp ul.nav_ul2 li{float:left; height:50px; line-height:50px; box-sizing:border-box; margin-right:42px;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp ul.nav_ul2 li:last-child{margin-right:0;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp ul.nav_ul2 li a{color:#333; font-weight:bold; display:block;}
.header_right nav.header_nav ul.nav_ul li.nav_1dp ul.nav_ul2 li.active a{color:#23599a;}




/*///////////////////// header End /////////////////////*/

/*///////////////////// container /////////////////////*/
#container:after{clear:both; content:""; display:block;}
#sub_container:after{clear:both; content:""; display:block;}
/*메인 wrap*/
.layout_wrap{padding-left:40px; box-sizing:border-box; padding-bottom:80px; padding-right:40px;}/*width:1160px*/
/*공통 css*/
/*h2 박스*/
.com_hbox{padding-top:37px; padding-bottom:18px; border-bottom:2px solid #e5e5e5;}
.com_hbox:after{clear:both; content:""; display:block;}
.com_hbox h2{font-size:22px; color:#333; font-weight:bolder; font-family:"NanumSquare"; float:left;}
.com_hbox ul.right{float:right;}
.com_hbox ul.right:after{clear:both; content:""; display:block;}
.com_hbox ul.right li{float:left;}
.com_hbox ul.right li.mar_r{margin-right:20px;}
.com_hbox ul.right li a{display:block;}
.com_hbox ul.right li a img{}
/*h3 박스*/
.com_hbox2.pad_t{padding-top:38px;}
.com_hbox2{border-bottom:2px solid #e5e5e5; padding-bottom:18px; margin-bottom:15px;}
.com_hbox2 h3{font-size:18px; font-weight:bolder; font-family:"NanumSquare"; color:#333;}
/*검색*/
.com_search_box{border-bottom:2px solid #e5e5e5;padding:10px 0; margin-top:25px;text-align:right;margin-bottom:15px;}
.com_search_box:after{clear:both; content:""; display:block;}
.com_search_box .wd_57{width:57px; text-align:center;}
.com_search_box .mar_r10{margin-right:6px;}
.com_search_box .mar_r20{margin-right:14px;}
.com_search_box input{display:inline-block; border:1px solid #d9d9d9; background:#fff; height:30px; box-sizing:border-box; font-size:13px; color:#333; font-weight:bold; padding-left:8px;}
input.calendar{width:121px; background:url('/img/main/calendar_ig.png') right 5px center no-repeat; padding-left:10px;}
input.calendar2{width:121px; background:url('/img/main/calendar_ig.png') right 5px center no-repeat; padding-left:10px;}
.com_search_box input.wd_65{width:65px;}
.com_search_box input.wd_80{width:80px;}
.com_search_box input.wd_100{width:100px;}
.com_search_box input.wd_110{width:110px;}
.com_search_box input.wd_121{width:121px;}
.com_search_box input.wd_139{width:139px;}
.com_search_box input.wd_200{width:200px;}
.com_search_box select{ display:inline-block;border:1px solid #d9d9d9; background:#fff url('/img/main/select_arrow.png') right 9px top 12px no-repeat; font-weight:bold; font-size:13px; color:#333; padding-left:10px; padding-right:25px;box-sizing:border-box; height:30px; -moz-appearance:none; -webkit-appearance:none; appearance:none;}
.com_search_box select::-ms-expand{display:none;}
.com_search_box select.wd_01{width:70px;}
.com_search_box select.wd_02{width:60px;}
.com_search_box select.wd_03{width:90px;}
.com_search_box select.wd_04{width:100px;}
.com_search_box select.wd_05{width:80px;}
.com_search_box p.input_name{display:inline-block;font-size:14px; line-height:30px; color:#333; font-weight:bold;}
.com_search_box p.normal_txt{display:inline-block;font-size:14px; line-height:30px; color:#666; font-weight:bold; }
.com_search_box p.and_txt{display:inline-block;width:26px; text-align:center; line-height:30px; font-size:23px; color:#858585;}
.com_search_box button.lookup_btn{background:#f9f9f9; box-sizing:border-box; width:56px; font-size:12px; font-family:"dotum"; height:30px; color:#333; border:1px solid #d9d9d9; border-radius:3px; font-weight:bold;}

/*공통 검색박스 두번째*/
.com_search_box .tp{margin-bottom:20px;}
.com_search_box .tp:after{clear:both; content:""; display:block;}
.com_search_box .bt:after{clear:both; content:""; display:block;}
.com_search_box input[type=checkbox]{width:1px; height:1px; overflow:hidden; margin:-1px; clip:rect(0,0,0,0); border:0; padding:0; position:absolute;}
.com_search_box input[type=checkbox] + label{font-size:14px; color:#333; font-weight:bold; float:left; display:inline-block; position:relative; box-sizing:border-box; padding-left:18px; cursor:pointer; line-height:30px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.com_search_box input[type=checkbox] + label:before{content:""; display:block; position:absolute; left:0; top:9px; width:13px; height:13px; background:url('/img/main/table_chk_off.jpg') center center no-repeat;}
.com_search_box input[type=checkbox]:checked + label:before{background:url('/img/main/table_chk_on.jpg') center center no-repeat;}
.com_search_box .csb_tit{font-size:14px;font-weight:bold;margin-right:15px;}


/*버튼 박스*/
.com_btn_box{margin:30px 0 10px;}
.com_btn_box:after{clear:both; content:""; display:block;}
.com_btn_box .left{float:left;}
.com_btn_box .right{float:right;}
.com_btn_box .center{text-align:center;}
.com_btn_box .btn_arrow{width:20px;height:30px;text-align:center;font-size:24px;}
.com_btn_box select{}
.com_btn_box select.wd90{width:90px;}
.com_btn_box div button.gray_btn{border:1px solid #c2c2c2; background:#f9f9f9;  color:#333;}
.com_btn_box div button.blue_btn{background:#133c6e; border-color:#133c6e;box-sizing:border-box; color:#fff;}
.com_btn_box div button.up_btn{width:30px; height:30px; box-sizing:border-box; border:1px solid #c2c2c2; background:#f9f9f9 url('/img/sub/btn_top.png') center center no-repeat; border-radius:3px; overflow:hidden; text-indent:-9999em;}
.com_btn_box div button.down_btn{width:30px; height:30px; box-sizing:border-box; border:1px solid #c2c2c2; background:#f9f9f9 url('/img/sub/btn_bottom.png') center center no-repeat; border-radius:3px; overflow:hidden; text-indent:-9999em;}
.com_btn_box div button.white_btn{}
.com_btn_box div .mar_r{margin-right:4px;}
.com_btn_box div button.wd_56{width:56px;}
.com_btn_box div button.wd_70{width:70px;}
.com_btn_box div button.wd_80{width:80px;}
.com_btn_box div button.wd_90{width:90px;}
.com_btn_box div button.pad_15{padding:0 15px;}
.com_btn_box .pxel li{float:left;}

/*회색 테이블 정보 바*/
.com_info_tb{background:#e7e7e7; height:46px; line-height:46px; box-sizing:border-box; padding:0 20px; margin-bottom:10px;}
.com_info_tb > ul:after{clear:both; content:""; display:block;}
.com_info_tb > ul li{position:relative; float:left; font-size:12px; color:#333; font-weight:bold; font-family:"dotum"; padding:0 20px;}
.com_info_tb > ul li:after{position:absolute; right:0; top:18px; width:1px; height:11px; background:#c2c2c2; content:""; display:block;}
.com_info_tb > ul li:first-child{padding-left:0;}
.com_info_tb > ul li:last-child{padding-right:0;}
.com_info_tb > ul li:last-child:after{display:none;}
.com_info_tb > ul li strong.blue{color:#23599a; font-family:"dotum";}

/*테이블 공통1*/
.ta_list01{width:100%; word-break:break-all; border-top:2px solid #333;}
.ta_list01 thead{background:#f4f4f4;}
.ta_list01 thead tr{height:40px;}
.ta_list01 thead tr th{font-size:13px; color:#333; font-weight:bold;}
.ta_list01 thead tr th .stxt{font-size:12px;color:#7e7e7e;}
.ta_list01 thead tr th input[type=checkbox]{width:1px; height:1px; overflow:hidden; margin:-1px; clip:rect(0,0,0,0); border:0; padding:0; position:absolute;}
.ta_list01 thead tr th label{background:url('/img/main/table_chk_off.jpg') center center no-repeat; display:inline-block; width:13px; height:13px; box-sizing:border-box; cursor:pointer;  -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.ta_list01 thead tr th input[type=checkbox]:checked + label{background:url('/img/main/table_chk_on.jpg') center center no-repeat;}
.ta_list01 tbody{}
.ta_list01 tbody tr{border-bottom:1px solid #c2c2c2; height:40px;}
.ta_list01 tbody tr:first-child{border-top:1px solid #c2c2c2;}
.ta_list01 tbody tr td{font-size:12px; color:#333; font-family:"dotum"; border-left:1px solid #e3e3e3; text-align:center;}
.ta_list01 tbody tr td.strong{font-weight:bold;}
.ta_list01 tbody tr td:first-child{border-left:0;}
.ta_list01 tbody tr td.align_r{text-align:right; padding-right:10px;}
.ta_list01 tbody tr td a{font-family:"dotum"; color:#0048ec; text-decoration:underline; font-weight:bold;}
.ta_list01 tbody tr td a.a_color01{color:#444;}
.ta_list01 tbody tr td p{font-family:"dotum";}
.ta_list01 tbody tr td p.over_txt{max-width:80%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; vertical-align:middle;}
.ta_list01 tbody tr td p.over_txt2{max-width:90%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:inline-block; vertical-align:middle;}
.ta_list01 tbody tr td a.over_txt2{max-width:90%; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; display:inline-block; vertical-align:middle; display:inline-block;}
.ta_list01 tbody tr th{background:#f4f4f4; border-right:1px solid #e3e3e3; font-size:14px; color:#333; font-weight:bold; text-align:left;}


/*하단 총-몇개의 목록*/
.com_tb01 p.all_listp{font-size:12px; color:#333; font-family:"dotum"; font-weight:bold; margin-top:19px;}
.com_tb01 p.all_listp strong{font-family:"dotum"; color:#23599a;}
/*테이블 노란 라인*/
.ta_list01 tbody tr.yellow{background:#fef6b1;}
.ta_list01 tbody tr.yellow td{font-weight:bold;}
/*테이블 체크박스*/
.ta_list01 tbody tr td input[type=checkbox]{width:1px; height:1px; overflow:hidden; margin:-1px; clip:rect(0,0,0,0); border:0; padding:0; position:absolute;}
.ta_list01 tbody tr td input[type=checkbox] + label{background:url('/img/main/table_chk_off.jpg') center center no-repeat; display:inline-block; width:13px; height:13px; box-sizing:border-box; cursor:pointer; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none;}
.ta_list01 tbody tr td input[type=checkbox]:checked + label{background:url('/img/main/table_chk_on.jpg') center center no-repeat;}
/*테이블 셀렉트 박스*/
.ta_list01 tbody tr td select{vertical-align:middle; border:1px solid #d9d9d9; background:#fff url('/img/main/select_arrow.png') right 10px top 12px no-repeat; font-weight:bold; font-size:14px; color:#333; padding-left:10px; box-sizing:border-box; height:30px; -moz-appearance:none; -webkit-appearance:none; appearance:none;}
.ta_list01 tbody tr td select::-ms-expand{display:none;}
/*테이블 라디오박스*/
.ta_list01 tbody tr td input[type="radio"]{position:absolute; width:1px; height:1px; overflow:hidden; margin:-1px; clip:rect(0,0,0,0); border:0; padding:0;}
.ta_list01 tbody tr td input[type="radio"] + label{position:relative; font-size:12px; color:#333; font-family:"dotum"; padding-left:24px; display:inline-block; vertical-align:middle; height:16px; line-height:16px; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; cursor:pointer;}
.ta_list01 tbody tr td input[type="radio"] + label:before{content:""; display:block; position:absolute; left:0; top:0; background:url('/img/main/radio_off.png') left top no-repeat; width:16px; height:16px;}
.ta_list01 tbody tr td input[type="radio"]:checked + label:before{background:url('/img/main/radio_on.png') left top no-repeat;}

/* 테이블 뷰페이지 */
.ta_view01{width: 100%;border-top: 2px solid #333;}
.ta_view01 tbody tr{border-bottom:1px solid #e3e3e3;}
.ta_view01 tbody tr th{background: #f4f4f4;border-left:1px solid #e3e3e3;border-right: 1px solid #e3e3e3;font-size: 14px;line-height:150%;height:40px;color: #333;font-weight: bold;text-align: left;padding-left:12px;}
.ta_view01 tbody tr th:first-child{border-left:none;}
.ta_view01 tbody tr td{font-size: 12px;color: #333;border-left:1px solid #e3e3e3;padding:5px 10px;}
.ta_view01 .wh100{width:100%;}

/* 테이블 글쓰기 */
.ta_write01{width: 100%;border-top: 2px solid #333;}
.ta_write01 tbody tr{border-bottom:1px solid #e3e3e3;}
.ta_write01 tbody tr th{width:100px;background: #f4f4f4;border-left:1px solid #e3e3e3;border-right: 1px solid #e3e3e3;font-size: 14px;line-height:40px;color: #333;font-weight: bold;text-align: left;padding-left:12px;}
.ta_write01 tbody tr th:first-child{border-left:none;}
.ta_write01 tbody tr td{font-size: 12px;color: #333;border-left:1px solid #e3e3e3;padding:5px 10px;}
.ta_write01 tbody tr th strong{color:#e80202;}
.ta_write01 tbody tr td{padding-left:10px; text-align:left;}
.ta_write01 tbody tr td textarea{padding:10px; resize:none; border:1px solid #d9d9d9; box-sizing:border-box; height:180px; vertical-align:middle;}
.ta_write01 tbody tr td input[type="text"],
.ta_write01 tbody tr td input[type="password"],
.ta_write01 tbody tr td input[type="email"]{padding-left:10px; box-sizing:border-box; height:30px; border:1px solid #d9d9d9;  vertical-align:middle;}
.ta_write01 tbody tr td select{}
.ta_write01 tbody tr td input[type="radio"] + label{}
.ta_write01 tbody tr td input[type="radio"] + label.mar_r{margin-right:20px;}
.ta_write01 tbody tr td.address_input .box:first-child{margin-bottom:5px;}
.ta_write01 tbody tr td.address_input input{width:100%;}
.ta_write01 tbody tr td em{width:4px; height:1px; background:#858585; display:inline-block;vertical-align:middle; margin:15px 3px 0;}
.ta_write01 tbody tr td em.mar_7{margin-left:7px; margin-right:7px;}
.ta_write01 tbody tr td i{font-weight:bold; color:#333; font-family:"Nanum Gothic"; width:28px; text-align:center; display:block; line-height:30px;}
.ta_write01 tbody tr td .wd_60{width:60px;}
.ta_write01 tbody tr td .wd_70{width:70px;}
.ta_write01 tbody tr td .wd_114{width:114px;}
.ta_write01 tbody tr td .wd_140{width:140px;}
.ta_write01 tbody tr td .wd_200{width:200px;}
.ta_write01 tbody tr td .wd_full{width:100%;}
.ta_write01 tbody tr td .inpu_link{font-family:"dotum"; color:#0048ec; text-decoration:underline;}
.ta_write01 tbody tr td .radio_list span{display:inline-block;margin-right:15px;}
.ta_write01 tbody tr td .check_list span{display:inline-block;margin-right:15px;}
.ta_write01 tbody tr td .check_list span input{margin-top:-2px;}
.ta_write01 tbody tr td .mr10{margin-right:5px;margin-left:10px;}
.ta_write01 tbody tr td.date_list input{display:inline-block;}
.ta_write01 tbody tr td.date_list .and_txt{display:inline-block;}
.ta_write01 tbody tr td.ph input{width:60px;text-align:center;}
.ta_write01 tbody tr td.ph span{display:inline-block;width:10px;text-align:center;}
.ta_write01 tbody tr td.email input{width:48%;text-align:left;margin-bottom:5px;}
.ta_write01 tbody tr td.email span{display:inline-block;width:4%;text-align:center;}
.ta_write01 tbody tr td.email select{width:100%;}
.ta_write01 tbody tr td  .adm_setting{padding:5px 0;}
.ta_write01 tbody tr td  .adm_setting > li{border-top:1px solid #ddd;padding:15px 0;}
.ta_write01 tbody tr td  .adm_setting > li:first-child{border-top:0;}
.ta_write01 tbody tr td  .adm_setting > li > strong{display:block;font-size:14px;margin-bottom:8px;}
.ta_write01 tbody tr td  .adm_setting > li .depth02:after{content:"";display:block;clear:both;}
.ta_write01 tbody tr td  .adm_setting > li .depth02 > li{float:left;margin-right:15px;}
.ta_write01 tbody tr td .idTxt01{margin-top:5px;color:#008392;}
.ta_write01 tbody tr td .idTxt02{margin-top:5px;color:#ea0000;}
.file_add{margin-top:8px;}
.view_box{padding:20px 0;}
.view_box h3{position:relative;font-size:16px;color:#333;padding-bottom:10px;margin-bottom:15px;}
.view_box h3:after{position:absolute;left:0;bottom:0;width:16px;border-bottom:1px solid #333;content:"";display:block;}

/*하단 버튼 박스*/
.buttom_btnbox{text-align:center; font-size:0; margin-top:40px;}
.buttom_btnbox button{box-sizing:border-box; width:56px; margin:0 3px;height:30px; border-radius:3px; font-size:12px; font-weight:bold; font-family:"dotum";}

.buttom_btnbox button.blue{background:#133c6e; color:#fff;}
.buttom_btnbox button.gray{background:#f9f9f9; border:1px solid #c2c2c2; color:#333;}

/* 문자보내기 */
.sms_view{ box-sizing:border-box;}/*width:265*/
.sms_view .sms_viewbox{background:#f4f4f4; padding:10px;}
.sms_view .sms_viewbox textarea{width:100%; height:105px; box-sizing:border-box; resize:none; border:1px solid #c0c0c0; background:#fff; font-size:12px; color:#606060; font-family:"dotum"; padding:13px 15px;}
.sms_view .sms_viewbox p.right_byte{text-align:right; color:#7e7e7e; font-family:"dotum"; font-size:12px; margin:10px 0 19px;}
.sms_view .sms_viewbox ul.sms_viewul li{margin-bottom:10px;}
.sms_view .sms_viewbox ul.sms_viewul li:after{clear:both; content:""; display:block;}
.sms_view .sms_viewbox ul.sms_viewul li p{width:30%; padding-left:11px; box-sizing:border-box; height:30px; line-height:30px; float:left; font-size:14px; font-weight:bold; color:#333;}
.sms_view .sms_viewbox ul.sms_viewul li input{background:#fff; border:1px solid #d9d9d9; box-sizing:border-box; width:70%; float:left; height:30px; padding:0 10px; font-size:14px; color:#666;}

/*페이저*/
.pager_wrap{text-align:center; margin-top:40px;}
.pager_wrap ul{display:inline-block;}
.pager_wrap ul li{display:inline-block; box-sizing:border-box; vertical-align:top;}
.pager_wrap ul li.arrow{border:1px solid #c2c2c2 ;width:27px; height:27px;}
.pager_wrap ul li.arrow.mar_r5{margin-right:5px;}
.pager_wrap ul li.arrow.mar_r9{margin-right:9px;}
.pager_wrap ul li.arrow.mar_l5{margin-left:5px;}
.pager_wrap ul li.arrow.mar_l9{margin-left:9px;}
.pager_wrap ul li.num{width:28px; height:27px;}
.pager_wrap ul li.num a{font-size:12px; color:#333; font-family:"dotum;"; display:block; line-height:27px; font-weight:bold;}
.pager_wrap ul li.num.active a{color:#0048ec; text-decoration:underline;}
.pager_wrap ul li a{display:block;}


/*탭메뉴*/
.tab_box{border-bottom:1px solid #c2c2c2;}
.tab_box ul:after{clear:both; content:""; display:block;}
.tab_box ul li{float:left; background:#efefef; width:145px; height:39px; border:1px solid #c2c2c2; line-height:39px; text-align:center; border-right:0; border-bottom:0; position:relative;}
.tab_box ul li:after{content:""; display:block; z-index:10; position:absolute; bottom:-1px; left:0; right:0; width:100%; box-sizing:border-box; background:#c2c2c2; height:1px;}
.tab_box ul li:last-child{border-right:1px solid #c2c2c2;}
.tab_box ul li a{display:block; font-size:12px; font-family:"dotum"; color:#333;}
.tab_box ul li.active{background:#fff;}
.tab_box ul li.active:after{background:#fff;}
.tab_box ul li.active a{font-weight:bold;}


/*팝업창*/
/* .pops_wrap{position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.7); z-index:99;}
.pops_wrap .pops_box{position:absolute; box-sizing:border-box; left:0; right:0; top:0; margin:0 auto;z-index:99;}
.pops_wrap .pops_box .pops_h{height:40px; padding:0 20px; position:relative; background:#133c6e;cursor:move;}
.pops_wrap .pops_box .pops_h h2{height:40px; line-height:40px; font-size:20px; color:#fff;}
.pops_wrap .pops_box .pops_h a.pops_close{position:absolute; top:12px; right:20px; z-index:502;}
.pops_wrap .pops_box .pops_h a.pops_close2{position:absolute; top:12px; right:20px; z-index:502;}
.pops_wrap .pops_box .pops_con{background:#fff; padding:20px;max-height:510px;overflow-y:auto;}
.pops_wrap .pops_box .pops_con .com_hbox{padding-top:0;}
.pops_wrap .pops_box .pops_con .com_pdv textarea{width:100%; box-sizing:border-box; border:1px solid #c0c0c0; padding:14px 10px; font-size:12px; color:#606060; font-family:"dotum"; resize:none;}
.pops_wrap .pops_box .pops_con .com_pdv p.bytes_txt{text-align:right; color:#7e7e7e; font-family:"dotum"; font-size:12px;}
.pops_wrap .pops_box .pops_con .com_pdv p.bytes_txt.mar_b{margin-bottom:20px;}
.pops_wrap .pops_box .pops_con .com_pdv .blue_btn{text-align:center; margin-top:20px;}
.pops_wrap .pops_box .pops_con .com_pdv .blue_btn button{font-size:14px; color:#fff; font-weight:bold; width:160px; height:38px; background:#2d7cbf;}
.pops_wrap .pops_box .pops_con .txt01{font-size:14px;color:#333;} */
.pops_wrap{position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.7); z-index:99;}
.pops_wrap .pops_box{position:absolute; box-sizing:border-box; left:20%; top:12%;z-index:99;}
.pops_wrap .pops_box .pops_h{height:40px; padding:0 20px; position:relative; background:#133c6e;cursor:move;}
.pops_wrap .pops_box .pops_h h2{height:40px; line-height:40px; font-size:20px; color:#fff;}
.pops_wrap .pops_box .pops_h a.pops_close{position:absolute; top:12px; right:20px; z-index:502;}
.pops_wrap .pops_box .pops_con{background:#fff; padding:20px; max-height:510px;overflow-y:auto;}
.pops_wrap .pops_box .pops_con .com_pdv textarea{margin-bottom:10px; width:100%; box-sizing:border-box; border:1px solid #c0c0c0; padding:14px 10px; font-size:12px; color:#606060; font-family:"dotum"; resize:none;}
.pops_wrap .pops_box .pops_con .com_pdv p.bytes_txt{text-align:right; color:#7e7e7e; font-family:"dotum"; font-size:12px;}
.pops_wrap .pops_box .pops_con .com_pdv p.bytes_txt.mar_b{margin-bottom:20px;}
.pops_wrap .pops_box .pops_con .com_pdv .blue_btn{text-align:center; margin-top:20px;}
.pops_wrap .pops_box .pops_con .com_pdv .blue_btn button{font-size:14px; color:#fff; font-weight:bold; width:160px; height:38px; background:#2d7cbf;}


/*문자메세지 팝업창*/
.pops_wrap .pops_box.pops_01,
.pops_wrap .pops_box.pops_01_1{width:584px; top:10%;}
.pops_wrap .pops_box.pops_01 .pops_con .com_tb01 textarea{height:120px;}
.sms_view .sms_txt p.tit01{font-size:14px;font-weight:bold;color:#333;margin-bottom:10px;}
.sms_view .sms_txt p.txt01{font-size:12px;color:#777;margin-bottom:8px;}
.sms_view .sms_txt p.txt02{font-size:12px;color:#7e7e7e;}
/*고객정보수정 팝업창*/
.pops_wrap .pops_02,
.pops_wrap .pops_02_1,
.pops_wrap .pops_02_2{top:10%; width:860px;}
/* 관리자 추가 */
.pops_wrap .pops_04,
.pops_wrap .pops_04_1,
.pops_wrap .pops_04_2{top:10%; width:860px;}

/*문자보내기 팝업창*/
.pops_wrap .pops_box.pops_05,
.pops_wrap .pops_box.pops_05_1{width:1160px;top:10%;}
.pops_wrap .pops_box.pops_05_2,
.pops_wrap .pops_box.pops_05_3,
.pops_wrap .pops_box.pops_05_4{width:1024px; top:10%;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .all_ckbox{margin-bottom:10px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .all_ckbox:after{clear:both; content:""; display:block;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .all_ckbox .gray_box{margin-right:10px; float:left; border:1px solid #cbcbcb; width:41px; height:28px; box-sizing:border-box; background:#f8f8f8 url('/img/main/select_arrow.png') right 6px center no-repeat; padding:7px 0 6px 10px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .all_ckbox .gray_box label{vertical-align:top;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .all_ckbox button{background:#f8f8f8; border:1px solid #cbcbcb; color:#606060; font-weight:bold; font-size:12px; font-family:"dotum"; width:80px; height:28px; box-sizing:border-box;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li{padding:11px 10px 10px 35px; position:relative; background:#f4f4f4; margin-bottom:10px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .ab_lt{position:absolute; left:11px; top:11px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .ab_lt label{vertical-align:top;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .area_box textarea{height:120px; color:#000; font-family:"dotum"; font-size:12px; line-height:24px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .area_box .phone_wt p.txt{font-size:14px; color:#333; font-weight:bold; margin-bottom:6px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .area_box .phone_wt .more_box input{width:117px; height:30px; background:#efefef; border:1px solid #cbcbcb; color:#000; font-family:"dotum"; box-sizing:border-box; padding:0 10px; font-size:12px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .area_box .write_box{margin-bottom:10px; height:120px; color:#000; font-family:"dotum"; font-size:12px; border:1px solid #c0c0c0; background:#fff; box-sizing:border-box; width:100%; overflow-y:auto; padding:7px 18px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .area_box .write_box p{font-family:"dotum";  line-height:24px;}
.pops_wrap .pops_box.pops_05 .pops_con .check_tb .msg_cklist ul.msg_cklistul > li .area_box .write_box strong{font-family:"dotum"; line-height:24px; text-decoration:underline;}

/*거래명세표 팝업창*/
.pops_wrap .pops_09{width:900px; position:absolute; box-sizing:border-box; left:0; right:0; top:0; margin:0 auto; background:#fff; top:40px;}
.pops_wrap .pops_09 .pops_hbox{position:relative;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin{padding:0 40px; background:#133c6e; line-height:40px; position:relative;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin:after{clear:both; content:""; display:block;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin h2{font-size:22px; color:#fff; font-weight:bolder; font-family:"NanumSquare"; float:left;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin a.pops_close{font-size:20px; color:#000; font-weight:bold; font-family:"dotum"; position:absolute; display:block; right:40px; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%);}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin a.pops_close img{display:block;}
.pops_wrap .pops_09 .pops09_box{padding:0 40px 39px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner{padding:0 66px 33px 67px; border:1px solid #c2c2c2;}
.pops_wrap .pops_09 .pops09_box .pops09_inner .com_btn_box{margin:15px 0 10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table{width:100%;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table thead tr th{border:2px solid #000; font-size:22px; color:#333; font-weight:bold; height:59px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.pad_20{padding:0 20px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_b{border:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.no_bor{border:0;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td{font-size:12px; color:#333; font-family:"dotum"; line-height:25px; text-align:center; border:1px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td input[type="text"]{border:0; background:#fff; font-family:"dotum"; box-sizing:border-box;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td input[type="text"].many{width:100%; text-align:center;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td input[type="text"].many.align_left{text-align:left; padding-left:10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr.all_tr{height:40px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr.all_tr td{padding:0 20px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.align_r{text-align:right; padding-right:10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td p.align_left{text-align:left; margin-top:18px; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td p.left.bold{float:left; font-size:12px; color:#333; font-weight:bold; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td p.right.bold{float:right; font-size:12px; color:#333; font-weight:bold; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li{border-bottom:1px solid #000; margin-bottom:35px; padding-left:31px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li:last-child{margin-bottom:0;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li p{float:left;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li p.mar_r147{margin-right:147px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li input[type="text"]{float:left; height:25px; box-sizing:border-box;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li input[type="text"].wd_01{width:24px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li input[type="text"].wd_02{width:13px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li input[type="text"].mar_r96{margin-right:66px; width:160px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_bt{border-bottom:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_br{border-right:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_bl{border-left:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot{border:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr th{border:1px solid #000; font-size:12px; color:#333; font-family:"dotum"; font-weight:normal;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr td{border:1px solid #000; font-size:12px; color:#333; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr.h_30{height:30px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr.h_30 td{text-align:right; padding-right:10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr.h_40{height:40px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr td p.center_line{text-align:center; font-family:"dotum"; width:90px; border-right:1px solid #000; line-height:38px;}

/*계약조회 팝업창 ppt_3*/
.pops_wrap .pops_03{width:1160px; top:60px;}
.pops_wrap .pops_03 .pops_con .com_search_box{margin-bottom:20px;}
.pops_wrap .pops_03 .pops_con .com_search_box div p.input_name{margin-right:20px;}
.pops_wrap .pops_03 .pops_con .com_search_box div p.normal_txt{margin-right:20px;}
.pops_wrap .pops_03 .pops_con .com_search_box div p.normal_txt.mar_r90{margin-right:90px;}
.pops_wrap .pops_03 .pops_con .com_tb01.scroll_tb01{overflow-y:scroll; height:172px;}
.pops_wrap .pops_03 .pops_con .com_tb01.scroll_tb01 table{width:1098px;}
.pops_wrap .pops_03 .pops_con .com_tb01.mar_b{margin-bottom:20px;}
.pops_wrap .pops_03 .pops_con .com_tb01.scroll_tb02{overflow-y:scroll; height:292px;}
.pops_wrap .pops_03 .pops_con .com_tb01.scroll_tb02 table{width:1098px;}

/*고객찾기 팝업창*/
.pops_wrap .pops_06{width:1160px; top:120px;}
.pops_wrap .pops_06 .com_search_box{padding:20px 192px; margin-bottom:20px;}
.pops_wrap .pops_06 .com_search_box p.input_name{width:60px;}
.pops_wrap .pops_06 .com_search_box input[type="text"]{margin-right:10px;}
.pops_wrap .pops_06 .ta_list01 tbody tr td button{width:56px;}

/*종료일 팝업창*/
.pops_wrap .pops_07{top:120px; width:268px;}
.pops_wrap .pops_07 .com_search_box p.input_name{width:65px;}
.pops_wrap .pops_07 .buttom_btnbox{margin-top:20px;}

/*관리종료*/
.pops_wrap{}
.pops_wrap .pops_08{top:120px; width:302px;}
.pops_wrap .pops_08 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_08 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_08 .com_search_box ul li:last-child{margin-bottom:0;}
.pops_wrap .pops_08 .com_search_box ul li input{width:121px;}
.pops_wrap .pops_08 .com_search_box ul li p{width:75px;}
.pops_wrap .pops_08 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_08 .com_search_box ul li select{width:121px;}
.pops_wrap .pops_08 .buttom_btnbox{margin-top:20px;}
.pops_wrap .pops_08 .buttom_btnbox button.blue{width:75px;}
/*기타비용리스트추가 팝업창*/
.pops_wrap .pops_10{width:1160px; top:120px;}
.pops_wrap .pops_10 .ta_list01 tbody tr th{padding-left:20px;}
.pops_wrap .pops_10 .ta_list01 tbody tr td{text-align:left; padding-left:20px;}
.pops_wrap .pops_10 .ta_list01 tbody tr td select{height:20px; width:250px;}
.pops_wrap .pops_10 .ta_list01 tbody tr td input[type="text"].normal_input{padding-left:10px; box-sizing:border-box; height:20px; border:1px solid #d9d9d9; background:#fff; vertical-align:middle; width:250px;}
.pops_wrap .pops_10 .ta_list01 tbody tr td input.calendar{width:250px; height:20px;}
.pops_wrap .pops_10 .ta_list01 tbody tr td .mar_r{margin-right:10px;}
.pops_wrap .pops_10 .com_tb01 .buttom_btnbox{margin-top:20px;}

/*건물추가 팝업창*/
.pops_wrap .pops_12{top:120px; width:394px;}
.pops_wrap .pops_12 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_12 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_12 .com_search_box ul li p{width:90px;}
.pops_wrap .pops_12 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_12 .com_search_box ul li input{width:156px;}
.pops_wrap .pops_12 .com_search_box ul li select{width:156px;}
.pops_wrap .pops_12 .com_search_box ul li button.lookup_btn{margin-left:10px;}
.pops_wrap .pops_12 .buttom_btnbox{margin-top:20px;}

/*고정비추가 팝업창*/
.pops_wrap .pops_13{top:120px; width:352px;}
.pops_wrap .pops_13 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_13 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_13 .com_search_box ul li p{width:90px;}
.pops_wrap .pops_13 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_13 .com_search_box ul li input{width:156px; text-align:right; padding-right:8px;}
.pops_wrap .pops_13 .com_search_box ul li select{width:156px;}
.pops_wrap .pops_13 .buttom_btnbox{margin-top:20px;}

/*수정관리 팝업창*/
.pops_wrap .pops_14{top:120px; width:352px;}
.pops_wrap .pops_14 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_14 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_14 .com_search_box ul li p{width:90px;}
.pops_wrap .pops_14 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_14 .com_search_box ul li input{width:156px; text-align:right; padding-right:8px;}
.pops_wrap .pops_14 .com_search_box ul li select{width:156px;}
.pops_wrap .pops_14 .buttom_btnbox{margin-top:20px;}

/*팝업 제목 hbox2 공통*/
.com_hbox2{padding:37px 0 18px; border-bottom:2px solid #e5e5e5;}
.com_hbox2:after{clear:both; content:""; display:block;}
.com_hbox2 h2{float:left; font-size:22px; color:#333; font-weight:bolder; font-family:"NanumSquare";}
.com_hbox2 ul.right{float:right;}
.com_hbox2 ul.right:after{clear:both; content:""; display:block;}
.com_hbox2 ul.right li{float:left;}
.com_hbox2 ul.right li.mar_r{margin-right:20px;}
.com_hbox2 ul.right li a{display:block;}


.id_layer{position:absolute;left:50%;top:50%;margin-top:-50px;width:257px;margin-left:-128px;box-shadow:0 0 10px 5px rgba(0,0,0,0.3);background-color:#FFF;display:none;}
.id_layer .top{height: 30px; padding: 0 15px; position: relative;  background: #133c6e;}
.id_layer .top h3{    line-height: 30px; font-size: 16px;  color: #fff;}
.id_layer .top .layer_close{position: absolute;top: 6px; right: 15px;  z-index: 50;}
.id_layer .con{    padding: 20px;}
.id_layer .con .id_list_con{position:relative;}
.id_layer .con .id_list_con input[type="text"]{width:160px;}
.id_layer .con .id_list_con ul{position:relative;margin-top:10px;border:1px solid #ddd;padding:15px 10px;box-sizing:border-box;background-color:#FFF;overflow-y:scroll;max-height:92px;}
.id_layer .con .id_list_con ul li{font-size:12px;line-height:20px;}
/* common */
.color01{color:#ff2b2b;}
select{height: 30px;}
.gray_btn{display:inline-block;padding:0 12px;height:30px;line-height:28px;box-sizing:border-box; font-family:"dotum"; color:#333; font-size:12px; font-weight:bold; border:1px solid #c2c2c2; background:#f9f9f9; border-radius:3px; }
.blue_btn{display:inline-block;padding:0 12px;height:30px;line-height:28px;box-sizing:border-box; font-family:"dotum"; color:#fff; font-size:12px; font-weight:bold; border:1px solid #133c6e; background:#133c6e; border-radius:3px; }

.popup_iframe{position:fixed;left:0;right:0;top:0;bottom:0;z-index:9999;width:100%;height:100%;display:none;}
.popbgClose{position:fixed;left:0;right:0;top:0;bottom:0;z-index:1;}