@charset "utf-8";

/*///////////////////// common /////////////////////*/
.wrap_1000{position:relative;width:1000px;margin:0 auto;}
.wrap_1000:after{content:"";display:block;clear:both;}
.btn_st01{display:inline-block;font-size:20px;font-weight:900;padding:0 20px;line-height:50px;height:50px;border-radius:50px;outline:none;}
.btn_bg01{background-color:#fcb040;color:#fff;}

.btn_st02{display:inline-block;font-size:18px;width:98px;height:68px;text-align:center;line-height:68px;background:url("../img/main/section02_box_btnBg.png");outline:none;color:#fff;}
/*///////////////////// common End /////////////////////*/


/*///////////////////// header /////////////////////*/
#header{width:100%; margin:0 auto;  overflow:hidden;z-index:999;background:#fff; border-bottom:1px solid #dfdfdf;
height:150px;}
#header .log_in{display:none;}
.clearfix{margin-top:28px; background:#2b506f;}
#header .top_menu{width:100%; margin:0 auto; height:28px; background:#1c3a54;}
#header .top_menu ul{float:right;}
#header .top_menu ul li{float:left; margin-left:25px; position:relative;}
#header .top_menu ul li::after{position:absolute; content:""; background:#6e8ea9; width:1px; height:9px; right:-30%; top:10px;}
#header .top_menu ul li:last-child::after{display:none;}
#header .top_menu ul li:first-child::after{right:-40%;}
#header .top_menu ul li a{color:#6e8ea9; font-size:12px; line-height:28px;}
#header .top_menu ul li:nth-child(2) a{color:#fff;}

#header:after{position:absolute;top:113px;bottom:0;content:"";display:block;}
#header.active{border-bottom:1px solid #d5d5d5;}
#header .header_body{width:100%; margin:0 auto;height:85px;}
.header_body .logo{float:left;}
.header_body .m_logo{display:none;}
.header_body .logo a{display:block;line-height:84px;}
.header_body .logo a img{vertical-align:middle;}
#header .menu_on{display:none;}
#gnb{float:right;z-index:99; }
#gnb > ul{margin-top:5px;}
#gnb > ul > li{float:left;text-align:center;margin-left:70px; position:relative;}
#gnb > ul > li > a{position:relative;font-size:18px; color:#fff;display:block;line-height:80px;font-weight:400;}
#gnb > ul > li:last-child {padding-right:0;}
#gnb > ul > li > a:after{position: absolute;left: 50%;margin-left: -6px; bottom: 0; width: 0; height: 0; border-left: 8px solid transparent;
  border-right: 8px solid transparent; border-bottom: 8px solid #fff;content: "";display: none;transition: 0.2s all; 
  z-index:999;}
#gnb > ul > li:hover > a:after,
#gnb > ul > li.active > a:after{display:block;}
#gnb > ul > li:nth-child(3).active > a:after{display:none;}

#gnb > ul > li > ul{top:40px; display:none; position:absolute; left:-70%; text-align:center;}
#gnb > ul > li > ul > li {padding:0 15px;float:left;margin-top:50px;}
#gnb > ul > li > ul > li > a{position:relative;display:inline-block;font-size:16px;color:#333333;padding-bottom:1px;}
#gnb > ul > li > ul > li > a::after{position:absolute;left:0;bottom:0;width:0;border-bottom:3px solid #543e22;content:"";display:block;
	transition: width 0.2s;}
#gnb > ul > li > ul > li.active a,
#gnb > ul > li > ul > li:hover a{/*color:#543e22;*/ font-weight:bold; color:#333333;}
#gnb > ul > li > ul	> li a{position:relative;}
#gnb > ul > li > ul > li a:after{position:absolute;left:0;right:0;bottom:-10px;width:0;height:2px;background-color:#2b506f; content:"";display:block;
	transition:0.2s all;}
#gnb > ul > li > .depth02_list > li.on a{font-weight:bold; color:#333333; border-bottom:3px solid #2b506f;padding-bottom:7px;}
#gnb > ul > li > .depth02_list > li.on a:after{display:none;}
#gnb > ul > li.active .depth02_list{display:block;}
#gnb > ul > li > ul > li.active a:after,
#gnb > ul > li > ul > li:hover a:after{width:100%;}
#gnb > ul > li ul.active{display:block;}
#gnb > ul > li:first-child ul{width:310px; left:-90%;}
#gnb > ul > li:nth-child(2) ul{width:420px; left:-240%;}
#gnb > ul > li:last-child ul{width:296px; left:-165%;}
.dot_page{position:fixed;right:40px;top:50%;z-index:99;margin-top:-82px;}
.dot_page li{width:18px;height:18px;margin:8px 0;text-align:center;line-height:18px;}
.dot_page li a{display:inline-block;width:10px;height:10px;background-color:#888;vertical-align:middle;border-radius:50%;transition:0.3s all;}
.dot_page li.active a{width:18px;height:18px;background-color:#ff6600;}

.gnb_menu{position:absolute;left:3%;top:50%;margin-top:-10px;width:25px;height:20px;overflow:hidden;margin-bottom:13px;display:none;z-index:50}
.gnb_menu.on{z-index:1000;left:0%;margin-left:10px; }
.gnb_menu span{position:absolute;display:block;width:100%;height:3px;background-color:#fff;
	/* transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}

.gnb_menu.on span{background-color:#FFF;}
.gnb_menu span.top{top:0;}
.gnb_menu span.middle{top:50%;margin-top:-2px;}
.gnb_menu span.bottom{bottom:0;}
.gnb_menu.on span.top{top:0;
	transform: translate3d(0, 8px, 0) rotate(225deg);
	-webkit-transform: translate3d(0, 8px, 0) rotate(225deg);
	-moz-transform: translate3d(0, 8px, 0) rotate(225deg);
	-o-transform: translate3d(0, 8px, 0) rotate(225deg);
	-ms-transform: translate(0, 8px) rotate(45deg);
}
.gnb_menu.on span.middle{top:50%;margin-top:-2px;
	transform: translate3d(0, 150px, 0) rotate(-720deg);
	-webkit-transform: translate3d(0, 150px, 0) rotate(-720deg);
	-moz-transform: translate3d(0, 150px, 0) rotate(-720deg);
	-o-transform: translate3d(0, 150px, 0) rotate(-720deg);
}
.gnb_menu.on span.bottom{bottom:0;
	transform: translate3d(0, -9px, 0) rotate(-225deg);
	-webkit-transform: translate3d(0, -9px, 0) rotate(-225deg);
	-moz-transform: translate3d(0, -9px, 0) rotate(-225deg);
	-o-transform: translate3d(0, -9px, 0) rotate(-225deg);
	-ms-transform: translate(0, -9px) rotate(-45deg);
}

/*///////////////////// header End /////////////////////*/


/*///////////////////// container /////////////////////*/
#container{width:100%; margin:0 auto; }
.wrap_1000{width:1000px; margin:0 auto;}
.main_visual{margin:0 auto;position:relative;background:#e8eeef; }
.main_visual ul{overflow:hidden;height:540px;}
.main_visual ul li{ float:left;  height:540px;}
.main_visual ul li.one{background:url("../img/main/main_visual_img01.png")no-repeat right center; }
.main_visual ul li.two{background:url("../img/main/main_visual_img02.png")no-repeat right center;  }
.main_visual ul li.three{background:url("../img/main/main_visual_img03.png")no-repeat right center;  }
.main_visual ul li b{font-size:42px; display:block; line-height:50px; padding-bottom:27px; font-weight:400;padding-top:157px;}
.main_visual ul li b span{color:#2b506f; font-weight:bold;}
.main_visual ul li p{font-size:20px; display:block; line-height:26px; font-weight:300;}
.bx-pager.bx-default-pager{position:absolute;  left:0; margin-left:0; right:0; margin-right:0; margin:0 auto;
bottom:30px; overflow:hidden;width:78px;z-index:10;}
.main_visual .bx-pager-item a{width:16px; height:16px; text-indent:-9999px; background: url("../img/btn/non_active.png")no-repeat center;
float:left; padding-left:10px;}
.main_visual .bx-pager-item a.active{background:url("../img/btn/on_active.png")no-repeat center;}
.main_visual .bx-controls-direction .bx-prev{width:26px; height:48px; left:-80px; background: url("../img/btn/main_visual_prev.png")no-repeat center;
position:absolute; z-index:10;top:42%; text-indent:-9999px;}
.main_visual .bx-controls-direction .bx-next{width:26px; height:48px; right:-80px; background:url("../img/btn/main_visual_next.png")no-repeat center;
position:absolute; z-index:10;top:42%; text-indent:-9999px;}

/* 서비스 장점 */
.main_advantage{margin-top:80px;margin-bottom:100px;}
.main_advantage h2{font-size:30px; line-height:30px; color:#333333; font-weight:400; text-align:center;}
.main_advantage ul{padding:0 80px; overflow:hidden; }
.main_advantage ul li{float:left; width:280px;text-align:center;margin-top:60px;}
.main_advantage ul li img{display:inline-block;}
.main_advantage ul li b{display:block; font-size:18px; font-weight:400; color:#333333; line-height:18px;padding:22px 0 16px;}
.main_advantage ul li p{font-size:14px; color:#666666; font-weight:300;}

/* 다운로드 */
.main_download{text-align:center; background:url(../img/main/main_download_img.png)no-repeat center; padding-bottom:60px;}
.main_download h2{font-size:30px; line-height:30px; padding-top:80px; overflow:hidden; text-align:center;}
.main_download .main_down{width:488px; border:1px solid #dfdfdf; float:left; height:588px; background:#fff; margin-top:60px;}
.main_download .main_down.one img{margin-top:50px;}
.main_download .main_down.two{margin-left:20px; border:1px solid #dfdfdf;}
.main_download .main_down.two img{margin-top:100px;}
.main_download .main_down img{display:inline-block;}
.main_download .main_down b{font-size:20px; line-height:20px; margin-top:30px;margin-bottom:10px; font-weight:400; color:#2b506f;
display:block;}
.main_download .main_down p{font-size:14px; line-height:14px; margin-bottom:32px; font-weight:300;}
.main_download .main_down b.down_btn{width:298px; line-height:58px; border:1px solid #cccccc; margin:0 auto;}
.main_download .main_down b.down_btn a{font-size:18px; line-height:58px; color:#666666; font-weight:300; display:block;} 
.main_download .main_down b.down_btn img{vertical-align:middle; margin-top:0; }
.main_download .main_down.two b.down_btn img{ margin-right:5px;}

/* 서비스 */
.main_service{margin-top:80px;}
.main_service h2{text-align:center; font-weight:400; font-size:30px; line-height:30px;}
.main_service ul{overflow:hidden; margin-top:60px;}
.main_service ul li{float:left; border:1px solid #dfdfdf; width:288px; height:120px; padding:30px 20px;position:relative;
overflow:hidden;}
.main_service ul li:nth-child(2){border-left:0;}
.main_service ul li:last-child{margin-left:10px; width:323px; padding:0; border:0; height:182px;}
.main_service ul li b{font-size:20px; line-height:20px; display:block; padding-bottom:30px; font-weight:400;}
.main_service ul li p{display:inline-block; font-size:14px; line-height:20px; overflow:hidden;  text-overflow:ellipsis; white-space:nowrap;
width:190px; font-weight:300;}
.main_service ul li span{text-align:right; font-size:14px; color:#999999; font-weight:300; float:right;}
.main_service ul li b.more_btn{position:absolute; top:30px; right:20px;}
.main_service ul li b.more_btn a{font-size:14px; color:#333333;}
.main_service ul li b.more_btn a img{vertical-align:middle;margin-left:10px;margin-bottom:3px;}
.main_service ul li ul{padding:0; width:100%; height:auto; margin-top:0;}
.main_service ul li ul li{float:none; height:84px; padding:0; width:99%; background:#fce000 url(../img/ico/sevice_im01.png)no-repeat 25px center;}
.main_service ul li ul li:last-child{height:84px; width:99%; margin-top:10px;margin-left:0; border:1px solid #dfdfdf; 
background:#4d5569 url(../img/ico/sevice_im02.png)no-repeat 25px center;;}
.main_service ul li ul li b{padding-left:105px;  padding-top:20px; padding-bottom:10px; font-size:20px;color:#381e1f;}
.main_service ul li ul li p{padding-left:105px; font-size:16px;color:#381e1f; font-weight:400;}
.main_service ul li ul li:last-child b{color:#fff;}
.main_service ul li ul li:last-child p{color:#fff;}

/*///////////////////// footer /////////////////////*/
#footer{background:#3a3c42;}
#footer .footer_top{width:100%; margin:0 auto;border-bottom:1px solid #494d57;margin-top:100px;}
#footer .footer_top .wrap_1000{width:1000px; margin:0 auto;position:relative;}
#footer .footer_top .wrap_1000 ul{overflow:hidden;}
#footer .footer_top ul{display:table; margin:0 auto;}
#footer .footer_top ul li{float:left;text-align:center; position:relative;}
#footer .footer_top ul li::after{content:""; position:absolute; top:25px; right:0px; width:2px; height:10px; background:#434750;}
#footer .footer_top ul li:last-child::after{display:none;}
#footer .footer_top ul li a{display:block;padding:0 18px; font-size:14px; color:#777a85; line-height:62px;}
#footer .footer_body{width:960px; margin:0 auto;margin-top:30px; padding-bottom:32px;overflow:hidden; }
#footer .footer_body b{float:left;padding-top:3px;}
#footer .footer_body .footer_address{color:#71747f; line-height:22px; text-align:center; font-size:14px;color:#777a85;}
#footer .footer_body .footer_address span{font-size:10px; padding:0 10px;}
#footer .footer_body .footer_address span.block{font-size:14px; padding:0;}
#footer .footer_body .footer_address .copy{margin-top:25px;}
#gnb_mo{display:none;}
br.mobr{display:none;}
.mo_depth{display:none;}
#footer .quick_menu{position:fixed; right:30px; top:300px;}
#footer .quick_menu a{display:block;}


/* moblie */
@media screen and (max-width: 768px){
	#header{border-top:0;}
	#header .header_body{height:auto;}
	br.mobr{display:block;}
	.wrap_1000{width:100%;box-sizing:border-box;}
	.top_menu{display:none;}
	.btn_bg01{height:32px;line-height:32px;font-size:15px;}
	#wrap.gnbOn{height:100%; overflow:hidden;}
	#header{height:55px !important;overflow:initial; }
	.dot_page{display:none;}
	.layer_bg{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 95;background: rgba(0, 0, 0, 0.6);display: none;text-indent: -9999em;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);
    zoom: 1;}
	.m_layer_bg{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 30;background: rgba(0, 0, 0, 0.6);display: none;text-indent: -9999em;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);
    zoom: 1;}
	.m_layer_bg.on{display:block;}
	.header_top{display:none;}
	.header_top{display:none;}
	#header .header_body{border:none;}
	#header .menu_on{display:block; float:right; margin-top:10.5px;}
	.header_body .logo{display:none;}
	.header_body .m_logo{display:block; text-align:center;line-height:55px;}
	.header_body .m_logo img{vertical-align:middle; height:30px;}
	#gnb{display:none;}
	#gnb_mo{position:fixed;left:-70%;top:0;background-color:#fff;float:none;width:70%;margin:0;z-index:900; margin-left:0;
		transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000); border-right:1px solid #ddd; display:block;  height:100%;
		-webkit-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);transform: translate3d(0,0,0); visibility: visible;
		-moz-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-o-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	#gnb_mo .gnb_logo{display:block;height:55px;line-height:55px;background-color:#2b506f;text-align:center; position:relative;}
	#gnb_mo .gnb_logo img{width:95px;vertical-align:middle;}
	#gnb_mo.on{left:0; }
	#gnb_mo > ul > li{width:100%;border-top:1px solid #d4ddde;text-align:left; line-height:40px;}
	#gnb_mo > ul > li:last-child{border-bottom:1px solid #d4ddde;}
	#gnb_mo > ul > li > a{padding:0 0 0 15px;line-height:40px;font-size:14px;color:#2b506f;font-weight:400;display:block; position:relative;}
	#gnb_mo > ul > li > a::after{background:url(../img/btn/down_btn.png)no-repeat center;
	content:""; width:24px; height:16px; position:absolute; right:15px; top:15px;}
	#gnb_mo > ul > li > a.active::after{transform: translate3d(0,0,0); background:url(../img/btn/up_btn.png)no-repeat center;}
	#gnb_mo > ul > li.mo_depth{display:block;}
	#gnb_mo > ul > li > p{line-height:32px;}
	#gnb_mo > ul > li > div{background:#e8eeef; text-align:center; height:95px;}
	#gnb_mo > ul > li > .login_wrap.log_on{display:none;}
	#gnb_mo > ul > li > div p{font-size:12px; color:#5c778d; line-height:12px; padding-top:25px;}
	#gnb_mo > ul > li > div b{width:88px; line-height:28px; border: 1px solid #2b506f; float:left;margin-top:10px;float:left;}
	#gnb_mo > ul > li > div b a{font-size:15px; font-weight:400; color:#2b506f; display:block;}
	#gnb_mo > ul > li > div b:last-of-type{margin-left:6px;}
	#gnb_mo > ul > li > div > div{display:table; margin:0 auto;}
	#gnb_mo > ul > li > .depth02_list{background:#f6f9f9; display:none;}
	#gnb_mo > ul > li > .depth02_list li{border-bottom:1px solid #d4ddde;}
	#gnb_mo > ul > li .depth02_list li:last-child{border-bottom:0;}

	#gnb_mo > ul > li:last-child .depth02_list li:last-child{border-bottom:1px solid #d4ddde;}
	#gnb_mo > ul > li > .depth02_list li:first-child{border-top:1px solid #d4ddde}
	#gnb_mo > ul > li > .depth02_list li a{padding-left:25px; font-size:13px; color:#333333; display:block;}
	.gnb_menu{display:block; overflow:none;}
	.gnb_bg{position:fixed;left:0;right:0;top:0;bottom:0;z-index:55;background:rgba(0,0,0,0.8);display:block;}
	#gnb > ul > .dep01.one{display:block;}
	#container{}
	#footer .footer_body{width:100%;}
	#footer .footer_body b{display:none;}
	#footer .footer_body br{display:none;}
	#footer .footer_body .footer_address .copy{}
}

@media screen and (max-width: 768px){
#header .log_in{display:block;line-height:55px; float:left;}
#header .log_in img{float:right; width:40%;margin-top:10px;}

.main_visual{width:100%;}
.main_visual ul{overflow:hidden;height:auto;}
.main_visual ul li{ float:left;  height:auto;  margin:0 auto;width:93.75%;}
.main_visual ul li.one{background:url("../img/mobile/main_visual_img01.png")no-repeat center 200px; background-size:100%;width:93.75%;}
.main_visual ul li.two{background:url("../img/mobile/main_visual_img02.png")no-repeat  center 200px; background-size:100%;width:93.75%;}
.main_visual ul li.three{background:url("../img/mobile/main_visual_img03.png")no-repeat center 200px; background-size:100%;width:93.75%;}
.main_visual ul li b{font-size:27px;  line-height:32px; padding-bottom:12px;padding-top:35px; text-align:center;letter-spacing:-1.5px;}
.main_visual ul li p{font-size:12px;  line-height:20px; padding-bottom:90%;text-align:center;}
.bx-pager.bx-default-pager{bottom:17px; width:58.5px; }
.main_visual .bx-pager-item a{width:12px; height:12px; text-indent:-9999px; background-size:50%; padding-left:7.5px;}
.main_visual .bx-pager-item a.active{background-size:50%;}

/* 서비스 장점 */
.main_advantage{margin-top:40px;margin-bottom:45px;}
.main_advantage h2{font-size:20px; line-height:20px;}
.main_advantage ul{padding:0 15px; margin-top:5px;}
.main_advantage ul li{float:none; width:100%;margin-top:20px; overflow:hidden;}
.main_advantage ul li img{display:block; float:left; width:30%;padding-right:12px; }
.main_advantage ul li div{float:left;text-align:left;}
.main_advantage ul li b{ font-size:15px; line-height:18px;padding:5px 0 16px; }
.main_advantage ul li p{font-size:10px; line-height:14px; }


/* 다운로드 */
.main_download{ background:url(../img/main/main_download_img.png)no-repeat center; padding-bottom:60px;}
.main_download h2{font-size:20px; line-height:20px; padding-top:40px; }
.main_download .main_down{width:76%; float:none; height:auto; margin:0 auto; margin-top:20px; padding-bottom:20px;}
.main_download .main_down.one img{margin-top:20px; width:50%;}
.main_download .main_down.two{display:none;}
.main_download .main_down b{font-size:15px; line-height:15px; margin-top:15px;margin-bottom:6px; }
.main_download .main_down p{font-size:10px; line-height:10px; margin-bottom:16px; font-weight:300;}
.main_download .main_down b.down_btn{width:150px; line-height:28px; border:2px solid #cccccc; margin:0 auto; }
.main_download .main_down b.down_btn a{line-height:28px;} 

/* 서비스 */
.main_service{ width:93.75%; margin:0 auto; margin-top:40px;}
.main_service h2{t font-size:20px; line-height:20px;}
.main_service ul{ margin-top:20px;}
.main_service ul li{float:none; width:auto; height:auto; padding:20px 17.5px 8px; margin-bottom:10px;}
.main_service ul li:last-child{margin-left:10px; width:323px; padding:0; border:0; height:182px;}
.main_service ul li b{font-size:16px; line-height:16px;  padding-bottom:17px; }
.main_service ul li p{display:inline-block; font-size:12px; line-height:12px; width:53%; margin-bottom:12px;}
.main_service ul li span{text-align:right; font-size:12px;line-height:12px;  margin-bottom:12px;}
.main_service ul li b.more_btn{position:absolute; top:17.5px; right:20px;}
.main_service ul li b.more_btn a{font-size:12px; color:#333333;}
.main_service ul li b.more_btn a img{vertical-align:middle;margin-left:6px;margin-bottom:3px; width:20%;}
.main_service ul li ul{padding:0; width:100%; height:auto; margin-top:0;}
.main_service ul li:nth-child(2){border-left:1px solid #dfdfdf;}
.main_service ul li:last-child{margin-top:20px; width:100%; margin:0 auto; height:auto;}
.main_service ul li:last-child ul{overflow:hidden;}
.main_service ul li ul li{float:left; height:auto; padding:0; background:#fce000 url(../img/ico/sevice_im01.png)no-repeat center 20px;
width:48%;  text-align:center; background-size:30%;}
.main_service ul li ul li:last-child{height:auto; width:48%; margin-top:0; background:#4d5569 url(../img/ico/sevice_im02.png)no-repeat center 20px;
margin-right:0; background-size:30%; float:right;}
.main_service ul li ul li b{padding-left:0;  padding-top:85px; padding-bottom:10px; font-size:16px;}
.main_service ul li ul li p{padding-left:0; font-size:12px; display:block; padding-top:8px; line-height:12px; padding-bottom:21px;
text-align:center; margin:0 auto; width:100%;}

/*///////////////////// footer /////////////////////*/
#footer{background:#3a3c42; width:100%; margin:0 auto;}
#footer .footer_top{width:100%; margin:0 auto;margin-top:45px;}
#footer .footer_top .wrap_1000{width:100%; margin:0 auto;position:relative;}
#footer .footer_top ul{ margin:0 auto; }
#footer .footer_top ul li::after{ top:16px; right:-1px; width:1px; height:9px; }
#footer .footer_top ul li a{display:block;padding:0 5px; font-size:10px;  line-height:40px;}
#footer .footer_body{ margin-top:20px; padding-bottom:40px;}
#footer .footer_body b{float:left;padding-top:3px;}
#footer .footer_body .footer_address{ line-height:18px;  font-size:10px;}
#footer .footer_body .footer_address span{font-size:5px; padding:0 9px; color:#777a85;}
#footer .footer_body .footer_address span:nth-of-type(3){display:none;}
#footer .footer_body .footer_address span.block{font-size:10px; display:block;}
#footer .footer_body .footer_address span.none{display:none;}
#footer .footer_body .footer_address .copy{margin-top:20px; font-size:10px;}
br.mobr{display:none;}
.mo_depth{display:none;}
#footer .quick_menu{display:none;}


}
