@charset "utf-8";

/*///////////////////// common /////////////////////*/
.wrap_1000{position:relative;width:1000px;margin:0 auto;}
.wrap_1000:after{content:"";display:block;clear:both;}
.btn_st01{display:inline-block;font-size:20px;font-weight:900;padding:0 20px;line-height:50px;height:50px;border-radius:50px;outline:none;}
.btn_bg01{background-color:#fcb040;color:#fff;}

.btn_st02{display:inline-block;font-size:18px;width:98px;height:68px;text-align:center;line-height:68px;background:url("../img/main/section02_box_btnBg.png");outline:none;color:#fff;}
/*///////////////////// common End /////////////////////*/


/*///////////////////// header /////////////////////*/
#header{position:absolute;left:0;top:0;right:0;   overflow:hidden;z-index:999;background:#fff;border-top:8px solid #ebebeb;
}
#header .log_in{display:none;}
#header:after{position:absolute;top:113px;bottom:0;content:"";display:block;}
#header.active{border-bottom:1px solid #d5d5d5;}
#header .header_body{border-bottom:1px solid #dfdfdf;width:100%; margin:0 auto;height:130px;}
.header_body .logo{float:left;margin-top:20px;}
.header_body .logo a{display:block;line-height:100px;}
.header_body .logo a img{vertical-align:middle;}
#header .menu_on{display:none;}
#gnb{float:right;z-index:99;font-family:'NanumBarunGothic'; font-weight:bold;}
#gnb > ul > li{float:left;text-align:center;padding:0 28px; margin-top:50px;}
#gnb > ul > li > a{position:relative;font-size:17.07px; color:#333;display:inline-block;line-height:48px;font-weight:bold;}
#gnb > ul > li:last-child {padding-right:0;}
#gnb > ul > li > a:after{position:absolute;left:0;right:0;bottom:0;width:0;height:1px;background-color:#333333; content:"";display:block;
	transition:0.2s all;}
#gnb > ul > li:hover > a:after,
#gnb > ul > li.active > a:after{width:100%;}
#gnb > ul > li > div ul{display:inline-block;text-align:left;}
#gnb > ul > li:first-child div:after{display:none;}
#gnb > ul > li > div  li {padding: 0.5px 0;width:auto;}
#gnb > ul > li > div  li:first-child{padding-top:8px;}
#gnb > ul > li > ul  li > a{position:relative;display:inline-block;font-size:16px;color:#666;padding-bottom:1px;}
#gnb > ul > li > ul  li > a::after{position:absolute;left:0;bottom:0;width:0;border-bottom:1px solid #543e22;content:"";display:block;
	transition: width 0.3s;}
#gnb > ul > li > div   li.active a,
#gnb > ul > li > div   li:hover a{/*color:#543e22;*/ font-weight:bold; color:#333333;}
#gnb > ul > li > div  li a{position:relative;}
#gnb > ul > li > div   li a:after{position:absolute;left:0;right:0;bottom:7px;width:0;height:1px;background-color:#1875bd; content:"";display:block;
	transition:0.2s all;}
#gnb > ul > li > div   li.active a:after,
#gnb > ul > li > div   li:hover a:after{width:100%;}
#gnb > ul > li:last-child{border-left:1px solid #c5c4c3;}
#gnb > ul > li:last-child p{font-size:13px; display:inline; line-height:48px;cursor:pointer;}
#gnb > ul > li:last-child p img{float:right;margin-left:10px;}
.dot_page{position:fixed;right:40px;top:50%;z-index:99;margin-top:-82px;}
.dot_page li{width:18px;height:18px;margin:8px 0;text-align:center;line-height:18px;}
.dot_page li a{display:inline-block;width:10px;height:10px;background-color:#888;vertical-align:middle;border-radius:50%;transition:0.3s all;}
.dot_page li.active a{width:18px;height:18px;background-color:#ff6600;}

.gnb_menu{position:absolute;left:3%;top:50%;margin-top:-10px;width:25px;height:20px;overflow:hidden;margin-bottom:13px;display:none;z-index:50;}
.gnb_menu.on{z-index:99;left:70%;margin-left:10px;}
.gnb_menu span{position:absolute;display:block;width:100%;height:3px;background-color:#484848;
	/* transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-webkit-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-moz-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	-o-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000); */
}

.gnb_menu.on span{background-color:#FFF;}
.gnb_menu span.top{top:0;}
.gnb_menu span.middle{top:50%;margin-top:-2px;}
.gnb_menu span.bottom{bottom:0;}
.gnb_menu.on span.top{top:0;
	transform: translate3d(0, 8px, 0) rotate(225deg);
	-webkit-transform: translate3d(0, 8px, 0) rotate(225deg);
	-moz-transform: translate3d(0, 8px, 0) rotate(225deg);
	-o-transform: translate3d(0, 8px, 0) rotate(225deg);
	-ms-transform: translate(0, 8px) rotate(45deg);
}
.gnb_menu.on span.middle{top:50%;margin-top:-2px;
	transform: translate3d(0, 150px, 0) rotate(-720deg);
	-webkit-transform: translate3d(0, 150px, 0) rotate(-720deg);
	-moz-transform: translate3d(0, 150px, 0) rotate(-720deg);
	-o-transform: translate3d(0, 150px, 0) rotate(-720deg);
}
.gnb_menu.on span.bottom{bottom:0;
	transform: translate3d(0, -9px, 0) rotate(-225deg);
	-webkit-transform: translate3d(0, -9px, 0) rotate(-225deg);
	-moz-transform: translate3d(0, -9px, 0) rotate(-225deg);
	-o-transform: translate3d(0, -9px, 0) rotate(-225deg);
	-ms-transform: translate(0, -9px) rotate(-45deg);
}

/*///////////////////// header End /////////////////////*/


/*///////////////////// container /////////////////////*/
#container{width:100%; margin:0 auto; margin-top:130px;}
.wrap_1000{width:1030px; margin:0 auto;}
.wrap_1000.one{width:1020px;}
.main_visual{margin:0 auto;position:relative;}
.main_visual.one{display:none;}
.main_visual ul{overflow:hidden;}
.main_visual ul li{width:100%; float:left;}
.bx-pager.bx-default-pager{position:absolute;  left:0; margin-left:0; right:0; margin-right:0; margin:0 auto;
bottom:50px; overflow:hidden;width:72px;z-index:10;}
.main_visual .bx-pager-item a{width:14px; height:14px; text-indent:-9999px; background:url("../img/btn/non_active.png")no-repeat center;
float:left; padding-left:10px;}
.main_visual .bx-pager-item a.active{background:url("../img/btn/on_active.png")no-repeat center;}
.main_visual .bx-controls-direction .bx-prev{width:66px; height:66px; left:30px; background:url("../img/btn/main_visual_prev.png")no-repeat center;
position:absolute; z-index:10;top:42%; text-indent:-9999px;}
.main_visual .bx-controls-direction .bx-next{width:66px; height:66px; right:30px; background:url("../img/btn/main_visual_next.png")no-repeat center;
position:absolute; z-index:10;top:42%; text-indent:-9999px;}

.wrap_1000 .main_tit{margin-top:55px;padding-bottom:100px; position:relative;}
.wrap_1000 .main_tit h1{font-size:38px; line-height:38px; padding-bottom:35px; position:relative; text-align:center;}
.wrap_1000 .main_tit h1::after{display:block; width:32px; height:4px; content:"";position:absolute; bottom:16px; left:0; right:0; margin-left:0;
margin-right:0; margin:0 auto; background:#666666;}
.wrap_1000 .main_tit span{font-size:14px; color:#6d6d6d;text-align:center;display:block;}
.wrap_1000 .main_tit p{font-size:17.07px; color:#333333;line-height:25px;padding-top:55px; display:block;}
.wrap_1000 .main_tit p.p_tag1{padding-left:390px;width:580px; }
.wrap_1000 .main_tit p.p_tag2{padding-left:340px; width:370px;padding-top:40px;}
.wrap_1000 .main_tit b.tit_img01{position:absolute; top:100px; left:0;}
.wrap_1000 .main_tit b.tit_img02{position:absolute; right:40px;bottom:10px;}
.main_txt{overflow:hidden;padding:0 100px;margin-bottom:70px; margin-top:40px;}
.main_txt li{float:left;width:230px; height:255px;margin-right:65px;text-align:center; border-bottom:1px solid #b4b4b4;
margin-bottom:40px; position:relative;}
.main_txt li::after{content:""; background:url("../img/ico/main_after01.png")no-repeat center; position:absolute; right:-40px;top:35%;
width:19px; height:34px;}
.main_txt li:nth-child(3n){margin-right:0;}
.main_txt li:nth-child(3n)::after{display:none;}
.main_txt li:nth-child(4)::before{content:""; background:url("../img/ico/main_after01.png")no-repeat center; position:absolute; left:-40px;top:35%;
width:19px; height:34px;}
.main_txt li div{width:100%; height:200px; border-radius:15px; background:#f0efea;}
.main_txt li div b{font-size:15px; color:#000000 !important; font-weight:normal;line-height:15px;padding-bottom:30px; position:relative;}
.main_txt li div b::after{position:absolute; content:""; width:142px; left:0; right:0; bottom:15px; margin-right:0; margin-left:0;margin:0 auto;
background:#a5a085; height:1px;}
.main_txt li div p{font-size:15px; color:#333333; font-weight:900; line-height:22px;}
.main_txt li b{font-size:16px; padding-top:25px; line-height:16px;display:block;}
.main_txt li:nth-child(5) b{color:#2186b5;}
.main_txt li:nth-child(5) div b::after{background:#2186b5;}
.main_txt li:last-child b{color:#e12020;}
.main_txt li:last-child div b::after{background:#e12020;}
.main_txt li:nth-child(5) div{background:#edf8ff;}
.main_txt li:nth-child(4)::after{background:url("../img/ico/main_after02.png")no-repeat center;}
.main_txt li:last-child div{background:#fdf0f1;}
.main_txt li:nth-child(5)::after{background:url("../img/ico/main_after03.png")no-repeat center;}

.main_photo_box{width:100%;background:#f4f4f4; margin:0 auto; padding-top:50px; padding-bottom:38px;}
.main_photo_box h2{font-size:38px; line-height:38px; padding-bottom:10px;text-align:center;}
.main_photo_box span{color:#6d6d6d; font-size:14px;line-height:14px;text-align:center; display:block;}
.main_photo_box ul{padding:0 34px; margin-bottom:35px;margin-top:35px;  position:relative; }
.main_photo_box ul li{float:left; width:310px; height:636px;}
.main_photo_box ul li:last-child{margin-right:0;}
.main_photo_box ul li img{width:310px; height:310px; ;margin-bottom:16px; display:block;}
.main_photo_box b.more_btn{display:block;border:2px solid #c2c2c2; font-size:17.07px; width:325px; margin:0 auto;line-height:50px;}
.main_photo_box b.more_btn a{color:#333333; display:block;text-align:center;}
.main_photo_box .slick-arrow{position: absolute;top: 50%;margin-top: -32px;width: 36px;height: 64px;z-index: 50;font-size: 0;
    text-indent: -9999em;background-color: transparent;background-repeat: no-repeat;background-position: center center;}
.main_photo_box .slick-prev.slick-arrow{background-image: url(../img/btn/main_photo_box_left.png); left: -30px;}
.main_photo_box .slick-next.slick-arrow{background-image: url(../img/btn/main_photo_box_right.png); right:-30px;}

.main_event_box{margin-top:45px;margin-bottom:15px; }
.main_event_box h2{font-size:38px; line-height:38px; padding-bottom:10px;text-align:center;}
.main_event_box span{color:#6d6d6d; font-size:14px;line-height:14px;text-align:center;display:block;}
.main_event_box ul{overflow:hidden;margin-top:42px;margin-bottom:18px;}
.main_event_box ul li{width:243px; height:251px; border:1px solid #c5c5c5;margin-right:16px;margin-bottom:17px;float:left;}
.main_event_box ul li:nth-child(4n){margin-right:0;}
.main_event_box ul li div.event_tit{padding:10px 17px 0;height:60px;}
.main_event_box ul li div.event_tit p{display:inline; font-size:18px; color:#000000;line-height:60px;}
.main_event_box ul li div.event_tit span{font-size:16px; float:right;line-height:60px;}
.main_event_box ul li div.event_tit span.blue{color:#1755c5;}
.main_event_box ul li div.event_tit span.red{color:#ee2e2e;}
.main_event_box ul li div.event_txt{padding:0 28px; background:#f4f4f4;height:181px; text-align:center;}
.main_event_box ul li div.event_txt p{font-size:14.2px; line-height:32px;display:block; padding-top:25px;padding-bottom:25px;}
.main_event_box ul li div b.on_btn{display:block;  font-size:16px; line-height:45px;}
.main_event_box ul li div b.blue.on_btn{background:#4280a3;}
.main_event_box ul li div b.gray.on_btn{background:#d5d5d5;}
.main_event_box ul li div b.on_btn a{display:block; color:#fff;}
.main_event_box b.more_btn{display:block;border:2px solid #c2c2c2; font-size:17.07px; width:325px; margin:0 auto;line-height:50px;}
.main_event_box b.more_btn a{color:#333333; display:block;text-align:center;}

/*///////////////////// footer /////////////////////*/
#footer .footer_top{width:100%; margin:0 auto;border-top:1px solid #d9dddf;border-bottom:1px solid #d9dddf;margin-top:35px;}
#footer .footer_top .wrap_1000{width:1020px; margin:0 auto;position:relative;}
#footer .footer_top .wrap_1000 ul{overflow:hidden;}
#footer .footer_top .wrap_1000 .footer_top_up{position:absolute; right:0;top:0;height:49px; border-left:1px solid #d9dddf;
border-right:1px solid #d9dddf;width:64px;text-align:center;background:url(../img/btn/footer_option.png)no-repeat center 15px;}
#footer .footer_top .wrap_1000 .footer_top_up a{display:block;padding-top:22px;}
#footer .footer_top ul li{float:left; width:149px; border-left:1px solid #d9dddf;text-align:center;}
#footer .footer_top ul li:last-child{border-right:1px solid #d9dddf;}
#footer .footer_top ul li a{display:block;padding:15px 0;}
#footer .footer_top ul li:nth-child(2) a{color:#317bbb;}
#footer .footer_body{width:960px; margin:0 auto;margin-top:27px; margin-bottom:25px;overflow:hidden;}
#footer .footer_body b{float:left;padding-top:3px;}
#footer .footer_body .footer_address{float:left;margin-left:50px;font-size:12px;color:#666666; line-height:18px;}
#footer .footer_body .footer_address .copy{color:#666666;}
#gnb_mo{display:none;}
br.mobr{display:none;}
.mo_depth{display:none;}

/* �α���â */
.bg{position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.7);z-index: 150;display:none;}
.login{ position:absolute; box-sizing:border-box; z-index:90; background:#f8f8f8; left:0; right:0; width:600px; height:390px;
margin-left:0; margin-right:0; margin:0 auto;top:30%;}
.login h2{font-size:36px; text-align:center; line-height:80px; position:relative;}
.login .login_box{height:260px; padding:0px 50px 50px; background:#f8f8f8;}
.login .login_box b{font-size:20px; line-height:20px; padding-bottom:12px;display:block;}
.login .login_box p{font-size:14px; line-height:14px; color:#666666;}
.login .login_box .input_box{overflow:hidden;margin-top:25px;}
.login .login_box .input_box input{height:45px; width:388px; border:1px solid #dddddd; background:#faffbd;padding:0 15px;
margin-bottom:10px;}
.login .login_box .input_box b.log_on{width:100px; line-height:100px; border-radius:10px; background:#333333; float:right;
text-align:center;padding-bottom:0;}
.login .login_box .input_box b.log_on a{color:#fff;}
.login .login_box .input_box .check_box{width:12px; height:12px;margin-bottom:0;margin-right:6px; color:#333333;}
.login .login_box .input_box p{display:inline; font-size:15px;}
.login .login_box span{color:#333333; font-size:15px; display:block; float:left;line-height:36px;margin-right:26px;margin-top:30px;}
.login .login_box b.go_join_membership{width:100px; line-height:36px; float:left; font-size:16px; background:#0a8ad2;padding-bottom:0;
font-weight:normal; text-align:center; margin-top:30px; border-radius:5px; color:#fff; cursor:pointer;}
.login .login_box b.go_join_membership a{color:#fff;}
.login h2 .close_btn{position:absolute; right:15px; top:15px;width:24px; height:24px;cursor:pointer;}

/* ȸ������â */
.bg2{position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.7);z-index: 150; display:none;}
.join_membership{ position:absolute; box-sizing:border-box; z-index:90; background:#f8f8f8; left:0; right:0; width:600px; height:420px;
margin-left:0; margin-right:0; margin:0 auto;top:30%; text-align:center;position:relative;}
.join_membership h2{font-size:40px; line-height:60px;padding-top:15px;padding-bottom:10px; position:relative;
display:block;}
.join_membership p{font-size:16px;}
.join_membership input{width:370px; border:1px solid #dddddd; line-height:45px; height:45px;padding:0 15px;box-sizing:border-box;
margin-bottom:10px;}
.join_membership input.join_first{margin-top:20px;}
.join_membership b{width:370px; margin:0 auto; display:block; background:#666666; line-height:45px;margin-top:20px;}
.join_membership b a{display:block; color:#fff;}
.join_membership h2 .close_btn{position:absolute; right:15px; top:15px;width:24px; height:24px;cursor:pointer;margin-top:0;}

/* ��������ó����ħ */
.privacy_notice{padding:28px 20px 20px; background:#f9f9f9;}
.privacy_notice h2{font-size:24px; line-height:20px;}
.privacy_notice div{background:#fff;margin-top:10px; padding:10px;}
.privacy_notice div h3{font-size:20px; line-height:16px; padding-bottom:24px; padding-top:16px;}
.privacy_notice div b{font-size:16px;   padding-bottom:15px;display:block;}
.privacy_notice div p{font-size:14px; line-height:24px;display:block; padding-bottom:10px; word-break:keep-all;}
.privacy_notice div span{font-size:13px; color:#666666; display:block; padding-bottom:10px; line-height:20px;padding-left:10px;}

/* ������ �۾��� �Խ��� */
.shot_table{margin-bottom:50px;}
.shot_table table{border:1px solid #dfdfdf; width:100%; }
.shot_table table tr{line-height:42px; border-bottom:1px solid #dddddd;}
.shot_table table tr th{width:152px; background:#ededed; font-size:13px; text-align:left;padding-left:10px;
border-right:1px solid #dddddd;}
.shot_table table tr td{padding:5px 15px;}
.shot_table table tr td input{width:100%; height:32px;}
.shot_table table tr td input.shot_input{width:160px;}
.shot_table table tr td .text_area{ width:803px; height:460px;padding:0;margin-top:15px;
padding:0 10px;}
.shot_table table tr td .file_up{line-height:20px;}
.shot_table div{display:table;  margin:0 auto; width: auto; margin-top:45px;}
.shot_table b{float:left;width:120px; text-align:center; line-height:42px;}
.shot_table b a{display:block;color:#fff;}
.shot_table b.ok_btn{background:#1875bd;}
.shot_table b.cancel_btn{background:#76706d;margin-left:10px;}


/* moblie */
@media screen and (max-width: 768px){
	#header{border-top:0;}
	#header .header_body{height:auto;}
	br.mobr{display:block;}
	.wrap_1000{width:100%;box-sizing:border-box;padding:0 10px;}
	.btn_bg01{height:32px;line-height:32px;font-size:15px;}
	#wrap.gnbOn{height:100%; overflow:hidden;}
	#header{height:55px !important;overflow:initial;}
	.dot_page{display:none;}
	.layer_bg{position: fixed;left: 0;right: 0;top: 0;bottom: 0;z-index: 95;background: rgba(0, 0, 0, 0.6);display: none;text-indent: -9999em;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#60000000,endColorstr=#60000000);
    zoom: 1;}
	.header_top{display:none;}
	.header_top{display:none;}
	#header .header_body{border:none;}
	#header .menu_on{display:block; float:right; margin-top:10.5px;}
	.header_body .logo{float:left;width:60%;text-align:center;margin-top:0;}
	.header_body .logo a{display:inline-block;line-height:55px;padding:0;}
	.header_body .logo img{height:20px;}
	#gnb{display:none;}
	#gnb_mo{display:block;}
	#gnb_mo{position:absolute;left:-70%;top:0;background-color:#fff;float:none;width:70%;margin:0;z-index:99; margin-left:0;
		transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000); border-right:1px solid #ddd; display:block; height:auto;
		-webkit-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-moz-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
		-o-transition: all 0.35s cubic-bezier(0.215, 0.610, 0.355, 1.000);
	}
	#gnb_mo .gnb_logo{display:block;height:55px;line-height:55px;background-color:#fff;text-align:center;}
	#gnb_mo .gnb_logo img{width:90px;vertical-align:middle;}
	#gnb_mo.on{left:0;}
	#gnb_mo > ul{padding:0 10px; background-color:#fff; height:100%;}
	#gnb_mo > ul > li{width:100%;border-top:1px solid #ddd;text-align:left; }
	#gnb_mo > ul > li > a{padding:0 0 0 5px;line-height:40px;font-size:16px;color:#333;font-weight:bold;display:block;}
	#gnb_mo > ul > li.dep02 > a{background:url("../img/main/m_gnb_icon01.png") no-repeat 96% center;background-size:16px;}
	#gnb_mo > ul > li.dep02 > a.active{background:url("../img/main/m_gnb_icon02.png") no-repeat 96% center;background-size:16px;}
	#gnb_mo > ul > li.mo_depth{display:block;}
	#gnb_mo > ul > li > div{padding:10px 15px;border-top:1px solid #ddd;}
	#gnb_mo > ul > li > div > ul > a{font-size:14px;line-height:32px;display:block;color:#666;}
	#gnb_mo > ul > li:last-child{display:none;}
	#gnb_mo > ul > li > div > ul > li{font-size:14px;line-height:32px;display:block;}
	#gnb_mo > ul > li > p{line-height:32px;}
	#gnb_mo > ul > li > div > ul > li > a{color:#666;}
	#gnb_mo > ul > li > div{display:none;}
	#gnb_mo > ul > li > div > b{display:inline-block;margin-right:10px; cursor:pointer;}
	#gnb_mo > ul > li > div > ul.depth02_list li > a,
	#gnb_mo > ul > li > div > ul.depth05_list li > a{display:block;color:#999;line-height:18px;padding-left:10px;font-size:12px;}
	#gnb_mo > ul > li .header_tit{display:none;}
	.gnb_menu{display:block; overflow:none;}
	.gnb_bg{position:fixed;left:0;right:0;top:0;bottom:0;z-index:55;background:rgba(0,0,0,0.8);display:block;}
	#gnb > ul > .dep01.one{display:block;}
	#container{margin-top:53px;}
	#container .main_visual{height:auto;}
	#container .main_visual ul li .slide_img{background:none;padding:0;}
	#container .main_visual ul li{position:relative;height:auto;}
	#container .main_visual ul li .wrap1000{padding-bottom:133.59%;background-size:cover;background-repeat:no-repeat;background-position:center top;}
	#container .main_visual ul li.slide01{background:none;}
	#container .main_visual ul li.slide01 .wrap1000{background:url("../img/main/m_main_visual01.jpg")no-repeat center top;background-size:cover;}
	#container .main_visual ul li.slide02 .wrap1000{background:url("../img/main/m_main_visual01.jpg")no-repeat center top;background-size:cover;}
	#container .wrap1000{width:100%;box-sizing:border-box;padding:0 10px;}
	#container .main_visual .bx-prev{left:0;background-size:30px;width:40px; height:30px;}
	#container .main_visual .bx-next{right:0;background-size:30px;width:40px; height:30px;}
	#container .main_visual .page_down_btn{bottom:10px;background-size:32px;}

	#container .main_end_visual{padding-top:68px;background:url("../img/main/m_main_end_visual.png") no-repeat center top;background-size:contain;}
	#container .main_end_visual h3{font-size:14px;margin:0 auto;width:92%;box-sizing:border-box;}
	#container .main_end_visual ul{margin-top:54px;}

	#footer .footer_top .wrap_1000{width:100%;box-sizing:border-box;padding:0;}

	#footer .footer_body{width:100%;}
	#footer .footer_body b{display:none;}
	#footer .footer_body .footer_address{float:none;margin:0 10px;text-align:center;font-size:12px;}
	#footer .footer_body span{display:block;}
	#footer .footer_body br{display:none;}
	#footer .footer_body .footer_address .copy{}
-
	#footer .footer_top .wrap_1000 .footer_top_up{height:38px;width:38px;border:none;background-position:center 10px;}
	#footer .footer_top .wrap_1000 .footer_top_up a{padding-top:20px;font-size:12px}
	#footer .footer_top .wrap_1000 ul{padding-right:39px;display:table;width:100%;box-sizing:border-box;}
	#footer .footer_top .wrap_1000 ul li{line-height:38px;display:table-cell;vertical-align:middle;}
	#footer .footer_top .wrap_1000 ul li a{padding:0;font-size:12px;}
	#footer .footer_top .wrap_1000 .footer_top_up{width:39px; height:38px;border-left:0;
	background:url(../img/btn/footer_option.png)no-repeat center 9px;}
	#footer .footer_top ul li{width:auto;float:none;}
	#footer .footer_top ul li:first-child{border-left:none;}
	.our_work_view .view_content{width:98%;margin-left:-49%;top:5%;}

}

@media screen and (max-width: 768px){
#header .log_in{display:block;line-height:55px; float:left;}
#header .log_in img{float:right; width:40%;margin-top:10px;}

/* �α���â */
.bg{position: fixed;left: 0;top: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.7);z-index: 150;display:none;}
.login{z-index:200; width:90%; height:290px; top:20%;}
.login h2{font-size:20px;  line-height:60px; }
.login .login_box{height:auto; padding:0px 10px 10px;}
.login .login_box b{font-size:16px; line-height:16px; padding-bottom:8px; text-align:center;}
.login .login_box p{font-size:11px; line-height:11px;}
.login .login_box .input_box{overflow:hidden;margin-top:25px;}
.login .login_box .input_box input{height:30px; width:73%;padding:0 7px;margin-bottom:6px;}
.login .login_box .input_box b.log_on{width:66px; line-height:66px; border-radius:6px;}
.login .login_box .input_box b.log_on a{color:#fff;}
.login .login_box .input_box p{ font-size:12px;}
.login .login_box span{color:#333333; font-size:12px; line-height:20px;margin-right:15px;margin-top:32px;}
.login .login_box b.go_join_membership{width:60px; line-height:24px; float:left; font-size:12px;  margin-top:28px; border-radius:5px; color:#fff; }
.login .login_box b.go_join_membership a{color:#fff;}
.login h2 .close_btn{position:absolute; right:10px; top:15px;width:18px; height:18px;}
.login h2 .close_btn img{width:100%;}

/* ȸ������â */
.join_membership{z-index:90;  width:90%; height:320px; top:20%; }
.join_membership h2{font-size:26px; line-height:50px;padding-top:10px;padding-bottom:8px;}
.join_membership p{font-size:12px;}
.join_membership input{width:90%; line-height:32px; height:32px;padding:0 8px;margin-bottom:8px;font-size:12px;}
.join_membership input.join_first{margin-top:20px;}
.join_membership b{width:90%; line-height:30px;margin-top:15px; font-size:13px;}
.join_membership b a{display:block; color:#fff;}
.join_membership h2 .close_btn{right:15px; top:15px;width:18px; height:18px;}
.join_membership h2 .close_btn img{width:100%;}

.wrap_1000{width:100%;}
.wrap_1000.one{width:100%;}
.main_visual{display:none;}
.main_visual.one{display:block;}
.bx-pager.bx-default-pager{position:absolute;  left:0; margin-left:0; right:0; margin-right:0; margin:0 auto;
bottom:20px; overflow:hidden;width:36px;z-index:10;}
.main_visual .bx-pager-item a{width:7px; height:7px;  background-size:50%;;float:left; padding-left:5px;}
.main_visual .bx-pager-item a.active{background-size:50%;}
.main_visual .bx-controls-direction .bx-prev{ background-size:50%;}
.main_visual .bx-controls-direction .bx-next{ background-size:50%;}
.main_visual img{width:100%;}

.wrap_1000 .main_tit{width:100%; margin:0 auto;margin-top:27px;padding-bottom:50px;
background-size:80%; height:auto;}
.wrap_1000 .main_tit h1{font-size:20px; line-height:20px; padding-bottom:15px; position:relative; text-align:center;}
.wrap_1000 .main_tit h1::after{ width:16px; height:2px; bottom:8px;}
.wrap_1000 .main_tit span{font-size:10px; }
.wrap_1000 .main_tit p{font-size:12px; line-height:18px;padding-top:10px; word-break:keep-all;}
.wrap_1000 .main_tit p br{display:none;}
.wrap_1000 .main_tit p.p_tag1{padding-left:0px;width:100%; padding-top:20px;}
.wrap_1000 .main_tit p.p_tag2{padding-left:0px; width:100%;padding-top:18px;padding-bottom:30px;}
.wrap_1000 .main_tit b.tit_img01{position:inherit; text-align:center; display:block;top:10px;}
.wrap_1000 .main_tit b.tit_img02{position:inherit; text-align:center;display:block;margin:0 auto;left:0; right:0;}
.wrap_1000 .main_tit b img{width:70%; display:inline-block;vertical-align:middle;}

.main_txt{overflow:hidden;padding:0;margin-bottom:35px; margin-top:20px; width:96%; margin:0 auto;}
.main_txt li{width:46%; height:190px;margin-right:8%;margin-bottom:20px;}
.main_txt li::after{background-size:70%; right:-15%; top:30%;}
.main_txt li:nth-child(3n){margin-right:8%;}
.main_txt li:nth-child(2n){margin-right:0;}
.main_txt li:nth-child(2n)::after{display:none;}
.main_txt li:nth-child(3n)::after{display:block;}
.main_txt li:nth-child(4)::before{display:none;}
.main_txt li div{height:150px; }
.main_txt li div b{font-size:12px; line-height:12px;padding-bottom:15px;word-break:keep-all;}
.main_txt li div b::after{ width:70px;  bottom:8px; }
.main_txt li div p{font-size:10px; color:#333333; line-height:18px;width:90%;margin:0 auto;}
.main_txt li b{font-size:12px; padding-top:12px; line-height:12px;}
.main_txt li:nth-child(4)::after{background-size:70%;}
.main_txt li:nth-child(5)::after{background-size:70%;}

.main_photo_box{width:100%; padding-top:25px; padding-bottom:19px;}
.main_photo_box h2{font-size:19px; line-height:19px; padding-bottom:5px;}
.main_photo_box span{font-size:12px;line-height:12px;}
.main_photo_box ul{padding:0;  margin:0 auto; margin-bottom:17px;margin-top:17px; width:90%; }
.main_photo_box ul li{ width:100%; height:auto;}
.main_photo_box ul li img{width:100%; height:auto; margin-bottom:10px; margin:0 auto; box-sizing:border-box; padding-bottom:10px;}
.main_photo_box b.more_btn{border:2px solid #c2c2c2; font-size:12px; width:70%;line-height:30px;}
.main_photo_box b.more_btn a{color:#333333; display:block;text-align:center;}
.main_photo_box .slick-prev.slick-arrow{background-size:50%; left: 10px;}
.main_photo_box .slick-next.slick-arrow{background-size:50%; right:10px;}

.main_event_box{ margin:0 auto; margin-top:25px;margin-bottom:10px;width:90%;}
.main_event_box h2{font-size:19px; line-height:19px; padding-bottom:5px;}
.main_event_box span{ font-size:12px;line-height:12px;}
.main_event_box ul{overflow:hidden;margin-top:20px;}
.main_event_box ul li{width:47%; height:175px;margin-right:4%;margin-bottom:17px;}
.main_event_box ul li:nth-child(2n){margin-right:0;}
.main_event_box ul li div.event_tit{padding:5px 9px 0;height:40px;}
.main_event_box ul li div.event_tit p{display:inline; font-size:12px; color:#000000;line-height:40px; }
.main_event_box ul li div.event_tit span{font-size:11px; float:right;line-height:40px;}
.main_event_box ul li div.event_txt{padding:0 5px; background:#f4f4f4;height:130px; text-align:center;}
.main_event_box ul li div.event_txt p{font-size:12px; line-height:20px;padding-top:10px;padding-bottom:10px;word-break:keep-all;}
.main_event_box ul li div b.on_btn{ font-size:12px; line-height:30px;width:90%; margin:0 auto;}
.main_event_box b.more_btn{border:2px solid #c2c2c2; font-size:12px; width:70%;line-height:30px;}
.main_event_box b.more_btn a{color:#333333; display:block;text-align:center;}

/* ��������ó����ħ */
.privacy_notice{padding:14px 10px 10px;}
.privacy_notice h2{font-size:18px; line-height:24px;}
.privacy_notice div{margin-top:5px; padding:8px;}
.privacy_notice div h3{font-size:16px; line-height:20px; padding-bottom:12px; padding-top:8px;}
.privacy_notice div b{font-size:13px;   padding-bottom:8px;word-break:keep-all;}
.privacy_notice div p{font-size:11px; line-height:18px; padding-bottom:5px; }
.privacy_notice div span{font-size:10px; line-height:15px; padding-bottom:5px;word-break:keep-all;padding-left:5px;}

/* ������ �۾��� �Խ��� */
.shot_table{margin-bottom:10px;}
.shot_table table{ width:90%; margin:0 auto;}
.shot_table table tr{line-height:30px; }
.shot_table table tr th{width:60px; font-size:11px; }
.shot_table table tr td{padding:5px 10px;}
.shot_table table tr td input{width:100%; height:26px; font-size:11px;}
.shot_table table tr td input.shot_input{width:120px;}
.shot_table table tr td .text_area{ width:100%; height:200px;padding:0;margin-top:8px;}
.shot_table table tr td .file_up{line-height:20px;}
.shot_table div{ margin-top:25px;}
.shot_table b{width:60px; line-height:30px; font-size:12px;}
.shot_table b.cancel_btn{margin-left:5px;}


}
