@charset "utf-8";

/*///////////////////// header /////////////////////*/
#wrap{min-width:1200px;}


/*팝업창*/
.pops_wrap{position:fixed; left:0; top:0; right:0; bottom:0; background:rgba(0,0,0,0.7); z-index:99;}
.pops_wrap .pops_box{position:absolute; box-sizing:border-box; left:20%; top:12%;z-index:99;}
.pops_wrap .pops_box .pops_h{height:40px; padding:0 20px; position:relative; background:#133c6e;cursor:move;}
.pops_wrap .pops_box .pops_h h2{height:40px; line-height:40px; font-size:20px; color:#fff;}
.pops_wrap .pops_box .pops_h a.pops_close{position:absolute; top:12px; right:20px; z-index:502;}
.pops_wrap .pops_box .pops_con{background:#fff; padding:20px; max-height:510px;overflow-y:auto;}
.pops_wrap .pops_box .pops_con .com_pdv textarea{margin-bottom:10px; width:100%; box-sizing:border-box; border:1px solid #c0c0c0; padding:14px 10px; font-size:12px; color:#606060; font-family:"dotum"; resize:none;}
.pops_wrap .pops_box .pops_con .com_pdv p.bytes_txt{text-align:right; color:#7e7e7e; font-family:"dotum"; font-size:12px;}
.pops_wrap .pops_box .pops_con .com_pdv p.bytes_txt.mar_b{margin-bottom:20px;}
.pops_wrap .pops_box .pops_con .com_pdv .blue_btn{text-align:center; margin-top:20px;}
.pops_wrap .pops_box .pops_con .com_pdv .blue_btn button{font-size:14px; color:#fff; font-weight:bold; width:160px; height:38px; background:#2d7cbf;}

/*문자메세지 팝업창*/
.pops_wrap .pops_box.pops_01{width:584px; top:140px;}
.pops_wrap .pops_box.pops_01 .pops_con .com_tb01 textarea{height:120px;}

/*고객정보수정 팝업창*/
.pops_wrap .pops_02,
.pops_wrap .pops_02_1,
.pops_wrap .pops_02_2{top:12%; width:1160px;}



/*문자보내기 팝업창*/
.pops_wrap .pops_box.pops_05{width:546px; top:12%;}

/*세금계산서 팝업창*/
.pops_21.one{width:900px; height:750px;}
.pops_wrap .pops_box .pops_con.one{max-height:750px;}
/*거래명세표 팝업창*/
.pops_wrap .pops_09{width:900px; position:absolute; box-sizing:border-box; left:0; right:0; top:0; margin:0 auto; background:#fff; top:12%;}
.pops_wrap .pops_09 .pops_hbox{position:relative;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin{padding:0 40px; background:#133c6e; line-height:40px; position:relative;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin:after{clear:both; content:""; display:block;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin h2{font-size:22px; color:#fff; font-weight:bolder; font-family:"NanumSquare"; float:left;}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin a.pops_close{font-size:20px; color:#000; font-weight:bold; font-family:"dotum"; position:absolute; display:block; right:40px; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%);}
.pops_wrap .pops_09 .pops_hbox .pops_hboxin a.pops_close img{display:block;}
.pops_wrap .pops_09 .pops09_box{padding:0 40px 39px;max-height:510px;overflow-y:auto;;}
.pops_wrap .pops_09 .pops09_box .pops09_inner{padding:0 66px 33px 67px; border:1px solid #c2c2c2;}
.pops_wrap .pops_09 .pops09_box .pops09_inner .com_btn_box{margin:15px 0 10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table{width:100%;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table thead tr th{border:2px solid #000; font-size:22px; color:#333; font-weight:bold; height:59px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.pad_20{padding:0 20px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_b{border:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.no_bor{border:0;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td{font-size:12px; color:#333; font-family:"dotum"; line-height:25px; text-align:center; border:1px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td input[type="text"]{border:0; background:#fff; font-family:"dotum"; box-sizing:border-box;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td input[type="text"].many{width:100%; text-align:center;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td input[type="text"].many.align_left{text-align:left; padding-left:10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr.all_tr{height:40px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr.all_tr td{padding:0 20px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.align_r{text-align:right; padding-right:10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td p.align_left{text-align:left; margin-top:18px; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td p.left.bold{float:left; font-size:12px; color:#333; font-weight:bold; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td p.right.bold{float:right; font-size:12px; color:#333; font-weight:bold; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li{border-bottom:1px solid #000; margin-bottom:35px; padding-right:31px;font-size:12px;text-align:right;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li:last-child{margin-bottom:0;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_bt{border-bottom:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_br{border-right:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tbody tr td.bor_bl{border-left:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot{border:2px solid #000;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr th{border:1px solid #000; font-size:12px; color:#333; font-family:"dotum"; font-weight:normal;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr td{border:1px solid #000; font-size:12px; color:#333; font-family:"dotum";}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr.h_30{height:30px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr.h_30 td{text-align:right; padding-right:10px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr.h_40{height:40px;}
.pops_wrap .pops_09 .pops09_box .pops09_inner table tfoot tr td p.center_line{text-align:center; font-family:"dotum"; width:90px; border-right:1px solid #000; line-height:38px;}

/*계약조회 팝업창 ppt_3*/
.pops_wrap .pops_03,
.pops_wrap .pops_03_1{width:1160px; top:12%;}
.pops_wrap .pops_03 .pops_con .com_search_box{margin-bottom:20px;}
.pops_wrap .pops_03 .pops_con .com_tb01.scroll_tb01{overflow-y:scroll; height:172px;}
.pops_wrap .pops_03 .pops_con .com_tb01.mar_b{margin-bottom:20px;}
.pops_wrap .scroll_tb02{overflow-y:scroll; height:292px;}

/*고객찾기 팝업창*/
.pops_wrap .pops_06{width:1160px; top:12%;}
.pops_wrap .pops_06 .com_search_box p.input_name{width:60px;}
.pops_wrap .pops_06 .com_search_box input[type="text"]{margin-right:10px;}
.pops_wrap .pops_06 .com_tb01 table tbody tr td button{width:56px;}

/*종료일 팝업창*/
.pops_wrap .pops_07{top:12%; width:268px;}
.pops_wrap .pops_07 .com_search_box p.input_name{width:65px;}
.pops_wrap .pops_07 .buttom_btnbox{margin-top:20px;}

/*종료 팝업창*/
.pops_box.pops_07{position:absolute; top:12%; width:268px;z-index: 502; left:40%;}
.pops_box.pops_07 a{position: absolute; top: 12px; right: 20px; }
.pops_box.pops_07 .com_search_box{border:0; padding:20px;}
.pops_box.pops_07 .pops_h{height: 40px;z-index: 502;background: #133c6e;}
.pops_box.pops_07 .pops_con{background:#fff;}
.pops_box.pops_07 .pops_con input{margin-right:5px;}
.pops_box.pops_07 .pops_h h2{padding: 0 20px;position: relative;cursor: move; line-height:40px;
color:#fff;}
.pops_box.pops_07 .buttom_btnbox{margin-bottom:20px; margin-top:10px;}

/*관리종료*/
.pops_wrap{}
.pops_wrap .pops_08{top:12%; /*width:302px;*/ width:312px;}
.pops_wrap .pops_08 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_08 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_08 .com_search_box ul li:last-child{margin-bottom:0;}
.pops_wrap .pops_08 .com_search_box ul li input{width:121px;}
.pops_wrap .pops_08 .com_search_box ul li p{width:75px;}
.pops_wrap .pops_08 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_08 .com_search_box ul li select{width:121px;}
.pops_wrap .pops_08 .buttom_btnbox{margin-top:20px;}
.pops_wrap .pops_08 .buttom_btnbox button.blue{width:75px;}


/*기타비용리스트추가 팝업창*/
.pops_wrap .pops_10{width:1160px; top:12%;}
.pops_wrap .pops_10 .com_tb01 table tbody tr th{padding-left:20px;}
.pops_wrap .pops_10 .com_tb01 table tbody tr td{text-align:left; padding-left:20px;}
.pops_wrap .pops_10 .com_tb01 table tbody tr td select{width:50%;}
.pops_wrap .pops_10 .com_tb01 table tbody tr td input[type="text"].normal_input{padding-left:10px; box-sizing:border-box; border:1px solid #d9d9d9; background:#fff; vertical-align:middle; width:250px;}

.pops_wrap .pops_10 .com_tb01 table tbody tr td .mar_r{margin-right:10px;}
.pops_wrap .pops_10 .com_tb01 .buttom_btnbox{margin-top:20px;}

/*건물추가 팝업창*/
.pops_wrap .pops_12{top:12%; width:394px;}
.pops_wrap .pops_20{top:12%; width:700px;}
.pops_wrap .pops_12 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_12 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_12 .com_search_box ul li p{width:90px;}
.pops_wrap .pops_12 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_12 .com_search_box ul li input{width:156px;}
.pops_wrap .addroom_input{margin:0 5px; }
.pops_wrap .addroom_li{margin-top:10px;}
.pops_wrap .addroom_li .addroom_input{margin-bottom:15px;}
.pops_wrap .addroom_li select{margin-bottom:15px;}



/*추가 부분*/
.pops_wrap .pops_12 .com_search_box ul li .zipcode{width:90px;}
.pops_wrap .pops_12 .com_search_box ul li .tels{width:48px;}
.pops_wrap .pops_12 .com_search_box ul li .com1{width:48px;}
.pops_wrap .pops_12 .com_search_box ul li .com2{width:36px;}
.pops_wrap .pops_12 .com_search_box ul li .com3{width:60px;}

.pops_wrap .pops_12 .com_search_box ul li select{width:156px;}
.pops_wrap .pops_12 .com_search_box ul li button.lookup_btn{margin-left:10px;}
.pops_wrap .pops_12 .buttom_btnbox{margin-top:20px;}

/*고정비추가 팝업창*/
.pops_wrap .pops_13,
.pops_wrap .pops_13_1{top:12%; width:352px;}
.pops_wrap .pops_14,
.pops_wrap .pops_14_1{top:12%; width:352px;}


.pops_wrap .pop_splusmod .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pop_splusmod .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pop_splusmod .com_search_box ul li p{width:90px;}
.pops_wrap .pop_splusmod .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pop_splusmod .com_search_box ul li input{width:156px; /*text-align:right;*/ padding-right:8px;}
.pops_wrap .pop_splusmod .com_search_box ul li .radio_on{width:15px;}
.pops_wrap .pop_splusmod .com_search_box ul li .radio_on.one{margin-left:10px;}
.pops_wrap .pop_splusmod .com_search_box ul li select{width:156px;}
.pops_wrap .pop_splusmod .buttom_btnbox{margin-top:20px;}

/*수정관리 팝업창*/

.pops_wrap .pops_16{width: 300px;top: 50%;}
.pops_wrap .pops_16 .tit01{font-size:16px;margin-bottom:15px;}
.pops_wrap .pops_16 ol{padding-left:15px;}
.pops_wrap .pops_16 ol li{    list-style-type: decimal;font-size:12px;margin-top:5px;}
.pops_wrap .pops_16 ol li:first-child{margin-top:0;}



/* 보증금 입출금 */
.pops_wrap .pops_18{top:12%; width:394px;}
.pops_wrap .pops_18 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_18 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_18 .com_search_box ul li p{width:90px;}
.pops_wrap .pops_18 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_18 .com_search_box ul li input{width:156px;}

/*추가 부분*/
.pops_wrap .pops_18 .com_search_box ul li .zipcode{width:90px;}
.pops_wrap .pops_18 .com_search_box ul li .tels{width:48px;}
.pops_wrap .pops_18 .com_search_box ul li .com1{width:48px;}
.pops_wrap .pops_18 .com_search_box ul li .com2{width:36px;}
.pops_wrap .pops_18 .com_search_box ul li .com3{width:60px;}

.pops_wrap .pops_18 .com_search_box ul li select{width:156px;}
.pops_wrap .pops_18 .com_search_box ul li button.lookup_btn{margin-left:10px;}
.pops_wrap .pops_18 .buttom_btnbox{margin-top:20px;}

/*입금처리*/
.pops_wrap{}
.pops_wrap .pops_19{top:12%; width:302px;}
.pops_wrap .pops_19 .com_search_box ul li{margin-bottom:10px;}
.pops_wrap .pops_19 .com_search_box ul li:after{clear:both; content:""; display:block;}
.pops_wrap .pops_19 .com_search_box ul li:last-child{margin-bottom:0;}
.pops_wrap .pops_19 .com_search_box ul li input{width:121px;}
.pops_wrap .pops_19 .com_search_box ul li p{width:75px;}
.pops_wrap .pops_19 .com_search_box ul li p.little{width:auto; margin-left:10px;}
.pops_wrap .pops_19 .com_search_box ul li select{width:121px;}
.pops_wrap .pops_19 .buttom_btnbox{margin-top:20px;}
.pops_wrap .pops_19 .buttom_btnbox button.blue{width:75px;}

/* 문의하기 팝업 */
.pops_wrap .pops_11,
.pops_wrap .pops_11_1{width:860px; top:12%;}
.pops_wrap .pops_15{width: 584px;top: 12%;}

.pops_wrap  .pb_st01{top:15%;left:42%;width:300px;}

