.section_box{padding:60px 0 80px 0;/*border-top:1px solid #dfdfdf;*/}
.section_box:first-child{border-top:0;}
.section_box h3{font-size:20px;color:#222;margin-bottom:40px;text-align:center;}
.section_box .top_txt{text-align:center;font-size:16px;line-height:26px;color:#222;}
.section_box .top_txt .blue{color:#37578e;font-weight:bold;}
.section_box .sb_top{margin-bottom:60px;}

.system_box{position:relative;border:1px solid #dfdfdf;background-color:#FcFcFc;margin-bottom:78px;}
.system_box .sb_tit{position:relative;display:block;font-size:20px;color:#222;text-align:center;line-height:58px;border-bottom:1px solid #dfdfdf;font-family:'Nanum Square';cursor:pointer;}
.system_box .sb_tit:before{position:absolute;left:13px;top:50%;margin-top:-16px;width:128px;height:32px;background:url("../img/sub/contents01_tit_bg.png") no-repeat;content:"";display:block;}
.system_box .sb_tit:after{position:absolute;right:13px;top:50%;margin-top:-16px;width:128px;height:32px;background:url("../img/sub/contents01_tit_bg.png") no-repeat;content:"";display:block;}
.system_box .sb_tit .arrow{display:inline-block;width:24px;height:14px;margin:0 10px;vertical-align:middle;background:url("../img/btn/up_btn.png") no-repeat center center;}
.system_box .sb_tit.active .arrow{background:url("../img/btn/down_btn.png") no-repeat center center;}
.system_box .box_in{padding:40px 0;text-align:center;}

.process_list{position:relative;border:2px solid #d9d9d9;border-radius:16px;text-align:center;}
.process_list h4{position:relative;top:-20px;display:inline-block;width:330px;line-height:40px;height:40px;background-color:#1875bd;border-radius:40px;font-family:'Nanum Square';color:#fff;}
.process_list ul{padding:22px 0 42px 0;}
.process_list ul li{position:relative;display:inline-block;vertical-align:top;}
.process_list ul li .pl_txt{display:block;margin-top:16px;font-size:14px;color:#37578e;font-family:'Nanum Gothic'}
.process_list ul.cols-05 li{padding:0 20px;width:152px;}
.process_list ul.cols-06 li{padding:0 14px;width:130px;}
.process_list ul.cols-06 li .pl_icon{display:block;}
.process_list ul.cols-06 li:after{position:absolute;left:-6px;top:55px;width:11px;height:21px;background:url("../img/btn/btn_arrow_right.png") no-repeat;content:"";display:block;}
.process_list ul.cols-06 li:first-child:after{display:none;}

.cont_img{margin-bottom:60px;text-align:center;}

.process_list ul.cols-06.mo{display:none;}

/* tablet */
@media screen and (max-width: 960px){
	
}

/* moblie */
@media screen and (max-width: 768px){

	
	.system_box .sb_tit{line-height:34px;font-size:15px;}
	.system_box .sb_tit .arrow{background-size:18px;}
	.system_box .sb_tit.active .arrow{background-size:18px;}
	.system_box .sb_tit:before{width:30px;height:20px;margin-top:-10px;}
	.system_box .sb_tit:after{width:30px;height:20px;margin-top:-10px;}

	.section_box h3{margin-bottom:20px;}
	.section_box .top_txt{font-size:15px;}
	.section_box .top_txt br{display:none;}
	.system_box .box_in{padding:10px;}
	.process_list h4{width:300px;}
	.process_list ul{padding:11px 0 21px 0;}
	.process_list ul.cols-05 li{box-sizing:border-box;padding:0 10px;width:33%;margin:10px 0;}
	.process_list ul.cols-06 li{box-sizing:border-box;padding:0 10px;width:33%;margin:0 0 40px 0;}
	.process_list ul li .pl_txt{font-size:12px;margin-top:8px;}
	.process_list ul.cols-06.mo{display:block;}
	.process_list ul.cols-06.web{display:none;}
	.process_list ul.cols-06 li:after{right:-6px;left:initial;top:34px;}
	.process_list ul.cols-06 li:first-child:after{display:block;}
	.process_list ul.cols-06 li:last-child:after{display:none;}
	.process_list ul.cols-06 li:nth-of-type(3):after{transform:rotate(90deg);right:50%;margin-right:-6px;top:initial;bottom:-30px;}
	.process_list ul.cols-06 li:nth-of-type(4):after,
	.process_list ul.cols-06 li:nth-of-type(5):after{transform:rotate(180deg)}
}