@import url('https://fonts.googleapis.com/css?family=Gothic+A1:700|Nanum+Gothic');

h1, h2, h3, h4, a, .navbar-brand {
  /* font-family: 'Jeju Gothic'; */
  font-family: 'Gothic A1', sans-serif;
  color: #1B5E20;
  /* font-family: 'Do Hyeon', sans-serif; */
}
body {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #ADD8E6;
}
.navbar {
  background-color: #00008B;
  border-bottom: #00008B 3px solid;
}
.nav-link {
  font-family: 'Nanum Gothic', sans-serif;
  color: #FFFFFF;
}
